// UI Colors
$white:          #ffffff;
$off-white:      #fefefe;
$lightest-gray:  #efefef;
$lighter-gray:   #dddddd;
$light-gray:     #999999;
$gray:           #666666;
$dark-gray:      #30302F;
$darker-gray:    #242323;
$darkest-gray:   #222222;

/* Light on Dark Colors */
$base1:     #A1ACAF;  // emphasized text color
$base0:     #919EA1;  // main text color
$base01:    #79929A;  // comments
$base02:    #839496;  // background highlights
$base03:    #002b36;  // background

$yellow:    #b38600;
$orange:    #ea632a;
$red:       #ff4a47;
$magenta:   #fa429b;
$violet:    #8185df;
$blue:      #2e93dc;
$cyan:      #2a9d94;
$green:     #829603;

/* Dark on Light Colors */
$base3-dark:     #fdf6e3;  // background
$base2-dark:     #eee8d5;  // background highlights
$base1-dark:     #617575;  // comments
$base00-dark:    #4F5F5F;  // main text color
$base01-dark:    #445050;  // emphasized text color

$yellow-dark:    #8E6C06;
$orange-dark:    #C64710;
$red-dark:       #DA2825;
$magenta-dark:   #C9367D;
$violet-dark:    #6266CB;
$blue-dark:      #2976AE;
$cyan-dark:      #207E77;
$green-dark:     #697807;

$tan: $base3-dark;
$navy: $base03;

// Font Families
$body-font:      "Karla", Arial, Helvetica, sans;
$header-font:    "Facit", Arial, Helvetica, sans;
$button-font:    Menlo, Monaco, Consolas, "Courier New", monospace;

// Font Weights
$body-weight:    400;
$header-weight:  400;
$button-weight:  400;

// Font Colors
$body-color:     $gray;
$header-color:   $gray;

// Font Sizes
$body-size:      1.125em;
$header-size:    1.5em;

// Breakpoints
$phone:        300px;
$phone-wide:   480px;
$tablet:       720px;
$tablet-wide:  1080px;
$desktop:      1280px;
$desktop-wide: 1920px;

// Grid Settings
$font-reset:   $body-font;
