$white:          #ffffff;
$off-white:      #fefefe;
$lightest-gray:  #efefef;
$lighter-gray:   #dddddd;
$light-gray:     #999999;
$gray:           #666666;
$dark-gray:      #30302F;
$darker-gray:    #242323;
$darkest-gray:   #222222;
$blue:           #0e6fc4;

// Type scale (Minor Third)
$font-size-4:   2.07rem;
$font-size-3:   1.72rem;
$font-size-2:   1.44rem;
$font-size-1:   1.2rem;
$font-size-0:   1rem;
$font-size--1:  .833rem;
$font-size--2:  .69rem;

$monospace: Menlo, Monaco, Consolas, "Courier New", monospace;

// Solarized (for lab experiments)
$base1:     #A1ACAF;  // emphasized text color
$base0:     #919EA1;  // main text color
$base01:    #79929A;  // comments
$base02:    #003a44;  // background highlights
$base03:    #002b36;  // background



