// UI Colors
$white:          #ffffff;
$off-white:      #fefefe;
$lightest-gray:  #efefef;
$lighter-gray:   #dddddd;
$light-gray:     #999999;
$gray:           #666666;
$dark-gray:      #30302F;
$darker-gray:    #242323;
$darkest-gray:   #222222;

// Solarized colors
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

$tan: $base3;
$navy: $base03;

// Font Families
$body-font:      "Karla", Arial, Helvetica, sans;
$header-font:    "Facit", Arial, Helvetica, sans;
$button-font:    Menlo, Monaco, Consolas, "Courier New", monospace;

// Font Weights
$body-weight:    400;
$header-weight:  400;
$button-weight:  400;

// Font Colors
$body-color:     $gray;
$header-color:   $gray;

// Font Sizes
$body-size:      1.125em;
$header-size:    1.5em;

// Breakpoints
$phone:        300px;
$phone-wide:   480px;
$tablet:       720px;
$tablet-wide:  1080px;
$desktop:      1280px;
$desktop-wide: 1920px;

// Grid Settings
$font-reset:   $body-font;
