// Base
@use "config";
@use "base/reset";
@use "base/typography";
@use "base/helpers";

$subtle: #a8a8a8;

html {
  font-size: 16px;
  font-weight: 300;
  color: #444;
}

.cv-background {
  background-color: #f2f2f2;
}

.cv-wrapper {
  box-sizing: border-box;
  padding: 4rem;
  margin: 32px auto 64px auto;
  max-width: 56rem;
  background: white;
  border: 1px solid #efefef;
}

.avatar-img {
  width: 3rem;
  height: auto;
}

.avatar-title {
  font-size: 1rem;
  line-height: 1;
  padding-top: 0.45rem;
  margin: 0;
}

.avatar-subtitle {
  font-size: 0.875rem;
  margin: 0;
  color: $subtle;
}

.download {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  display: inline-block;
}

.download svg {
  width: 1.25rem;
  height: 1.25rem;
  vertical-align: -0.25rem;
}

.main-statement {
  font-size: 1.75rem;
  line-height: 1.35;
}

.section-heading {
  color: config.$blue;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.entry-heading {
  font-weight: 400;
  font-size: 1rem;
  margin-top: 2rem;
}

.entry-heading--first {
  margin-top: 0;
}

.entry-text {
  margin: 0;
  font-size: 1rem;
}

.entry-subtext {
  color: #a8a8a8;
  font-size: 0.85rem;
}

.skills {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skills-text {
  margin: 0;
}

.details-text {
  margin: 0.35rem 0 0 0;
  font-size: 0.875rem;
}

.details-subtext {
  text-transform: uppercase;
  margin: 0;
  font-size: 0.75rem;
  color: $subtle;
}

@media screen and (max-width: 58rem) {
  .cv-wrapper {
    padding: 2rem;
    margin: 0;
    max-width: 100%;
    border: none;
  }
}
