@use "_config";

.lab {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: config.$base03;
  transform-origin: bottom right;
  transition: all 300ms ease-in-out;
  z-index: 4;
}

.lab-mint {
  background-color: #f1f9f2;
}

.lab-info {
  width: 48px;
  height: 48px;
  background-color: config.$white;
  color: config.$dark-gray;
  position: absolute;
  padding: 0;
  right: 1vw;
  bottom: 1vw;
  z-index: 5;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: config.$box-shadow;
  border: none;
  cursor: pointer;
  transition: all 100ms linear;
  outline: none;
  font-family: config.$monospace;
  font-size: 18px;
}

.lab-info svg {
  margin-top: 6px;
  fill: currentColor;
}

.lab-info:hover, .lab-info:focus {
  color: config.$darkest-gray;
  box-shadow: config.$box-shadow-2;
}

.lab-shrunk {
  transform: scale3d(.2, .2, .2);
  box-shadow: 0 0 80px rgba(0,0,0,.125);
}

.lab-thumbnail {
  border: 1vw solid transparent;
  outline: none;
  opacity: 0;
  display: block;
  width: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-color: transparent;
  transition: all 100ms linear;
  z-index: 9;
}

.lab-thumbnail:hover, .lab-thumbnail:focus {
  border: 1vw solid config.$blue;
  cursor: pointer;
}

.lab-shrunk .lab-thumbnail {
  opacity: 1;
  pointer-events: auto;
}

body {
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

body.is-active {
  height: auto;
  position: static;
  overflow: auto;
}

.fullscreen-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4;
}
