@import "../_config";

.blob-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-filter: url("#goo");
  filter: url("#goo");
}

.player-credits {
  width: 60%;
  position: absolute;
  left: 1vw;
  bottom: 1vw;
  z-index: 10;
  color: $base0;
  font-size: .9rem;
  margin-bottom: 0;
}

.play-pause {
  background: transparent;
  border: none;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -12px;
  margin-left: -12px;
  padding: 0;
  cursor: pointer;
  outline: none;
  z-index: 20;
}

.play-pause .btn-pause { display: none; }
.play-pause .btn-play { display: block; }

.playing .btn-pause { display: block; }
.playing .btn-play { display: none; }
