@import "../_config.scss";

.clock-container {
  position: relative;
  width: 80%;
  height: 476px;
}

.clock {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.clock-hour   { animation: rotate linear 60 * 60 * 12s infinite; }
.clock-minute { animation: rotate linear 60 * 60s infinite; }
.clock-second { animation: rotate 60s infinite steps(60); }

@keyframes rotate {
  100% { transform: rotate(360deg); }
}