{% extends 'layout.html' %}

{% block page %}
  <div class="fade delay-1 constrain-wide leader-6 padding-leader-3 padding-trailer-4 padding-left-2 bg-{{spot}}">
    <h1 class="leader-6">{{title}}</h1>
    <p>
      <time datetime="{{date|date('Y-m-d')}}">{{date|date('m.d.Y')}}</time>
    </p>
  </div>
  {% if feature %}
    {% set photo = feature %}
  {% else %}
    {% set photo = thumbnail %}
  {% endif %}

  <div class="constrain-wide trailer-4 leader--4 flex flex-center">
    <p class="fade delay-3 flex-1 margin-left-2 margin-right-2 leader-4 padding-leader-1 font-size-2 text-light constrain-narrow">{{description}}</p>
    <div class="flex-2 margin-right-2 fade delay-2">
      <img src="/img/{{photo}}" alt="{{title}}">
    </div>
  </div>

  <!-- post content -->
  <article class="article fade delay-4">
    <div class="constrain-wide">
      <section class="leader-3 trailer-3 constrain margin-auto">
        {% block content %}{% endblock %}
      </section>
    </div>
  </article>
{% endblock %}
