{% extends 'layout.html' %}

{% block page %}
  {% if feature %}
    <!-- feature image in banner -->
    <section style="background-image: url(/img/{{background}})" class="hero {{canvas}}">
      <img src="/img/{{feature}}" class="feature-image">
    </section>
    <div class="title-wrap constrain in-article">
      <h1 class="title"><a href="{{url}}">{{title}}</a></h1>
      <p class="description">{{description}}</p>
      <time datetime="{{date|date('Y-m-d')}}" class="date">{{date|date('n.j.Y')}}</time>
    </div>
  {% elseif map %}
    <!-- map in banner -->
    <div id="{{map}}" class="map-div hero-map"></div>
    <div class="title-wrap constrain in-article">
      <h1 class="title"><a href="{{url}}">{{title}}</a></h1>
      <p class="description">{{description}}</p>
      <time datetime="{{date|date('Y-m-d')}}" class="date">{{date|date('n.j.Y')}}</time>
    </div>
  {% else %}
    <!-- title in banner -->
    <section style="background-image: url(/img/{{background}})" class="hero {{canvas}}">
      <div class="title-wrap constrain">
        <h1 class="title"><a href="{{url}}">{{title}}</a></h1>
        <p class="description">{{description}}</p>
        <time datetime="{{date|date('Y-m-d')}}" class="date">{{date|date('n.j.Y')}}</time>
      </div>
    </section>
  {% endif %}

  <!-- post content -->
  <article class="panel white article">
    <section class="constrain leader-1 trailer-3">
      {% block content %}{% endblock %}
    </section>
  </article>

  <!-- next-prev links for articles -->
  <div class="spot-bg-{{spot}}">
    <nav class="bottom-nav constrain clearfix">
      <a href="{{prev.url}}" class="bottom-nav-link bottom-nav-prev">
        <span class="l-block text-size--2">previous article:</span>
        <span class="text-overflow l-block leader-1">{{prev.title}}</span>
      </a>
      <a href="{{next.url}}" class="bottom-nav-link bottom-nav-next">
        <span class="l-block text-size--2">next article:</span>
        <span class="text-overflow l-block leader-1">{{next.title}}</span>
      </a>
    </nav>
  </div>
{% endblock %}
