{% extends 'layout.html' %}
{% set animation = 'no-fade' %}

{% block page %}
  <pushbroom></pushbroom>
  <div class="constrain-wide leader-6 padding-leader-3 padding-trailer-4 padding-left-2 bg-{{spot}}">
    <p class="leader-6 font-size--2">Currently playing with:</p>
    <h1 class="leader-0">{{title}}</h1>
    <p>
      <time datetime="{{date|date('Y-m-d')}}" class="font-size--1">{{date|date('m.d.Y')}}</time>
    </p>
  </div>
  <div class="clearfix">
    <div class="constrain-wide leader--4 bg-dotted block-1of3 margin-auto">
      <p class="bg-white trailer-0 padding-left-1 padding-right-1 padding-leader-1 padding-trailer-1 font-size-2 text-light constrain-narrow offset">{{description}}</p>
    </div>
  </div>

  <div class="constrain-wide">
    <h2 class="trailer-1 font-size-2 leader-0"><a href="/lab/" class="link-plain">More Experiments</a></h2>
    <div class="flex card-container">
    {% for lab in collections.labs %}
    <a href="{{lab.url}}" class="no-barba card link-plain fade delay-{{loop.index + 2}}">
      <img src="/img/{{lab.thumbnail}}" alt="{{lab.title}}">
      <h2 class="font-size-0 leader-1">{{lab.title}}</h2>
      <p class="font-size--1 constrain-narrow">{{lab.description}}</p>
    </a>
    {% endfor %}
    </div>
  </div>

  <div class="lab js-lab {{labClass}}">
    <button class="lab-thumbnail js-lab-thumbnail" aria-label="back to experiment">Back</button>
    <button class="lab-info js-lab-toggle spot-bg-{{spot}}" aria-label="about experiment">{% include "../img/menu.svg" %}</button>
    {% block content %}{% endblock %}
  </div>
{% endblock %}
