{% extends 'layout.html' %}
{% set dark = 'dark' %}

{% block page %}
  <div class="hero">
    <div class="hero-background">
      <img class="hero-background-image" src="/img/{{thumbnail}}" alt="{{title}}">
    </div>
    <div class="constrain-wide hero-text">
      <div class="constrain-narrow">
        <p class="font-size--2 trailer-0">Currently playing with:</p>
        <h1 class="leader-1">{{title}}</h1>
        <p class="font-size--1">{{description}}</p>
        <time datetime="{{date|date('Y-m-d')}}">{{date|date('n.j.Y')}}</time>
      </div>
    </div>
  </div>

  <div class="panel panel-white">
    <div class="constrain">
      <h2 class="spot-dark-{{spot}}">More Experiments <a href="/lab/" class="right btn btn-dark-{{spot}}">View All</a></h2>
      {% for lab in collections.labs %}
      <div class="l-relative leader-3 trailer-3">
        <a href="{{lab.url}}" class="blog-roll-thumbnail spot-border-hover-{{lab.spot}}">
          <img class="blog-roll-thumbnail-img" src="/img/{{lab.thumbnail}}" alt="{{lab.title}}">
        </a>
        <div class="blog-roll-text">
          <h2 class="leader-1 trailer-1">
            <a href="{{lab.url}}" class="spot-link-dark-{{lab.spot}}">{{lab.title}}</a>
          </h2>
          <time class="text-size--2 text-subtle" datetime="{{lab.date|date('Y-m-d')}}">{{lab.date|date('n.j.Y')}}</time>
          <p class="text-size--2">{{lab.description}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="lab js-lab">
    <button class="lab-thumbnail js-lab-thumbnail" aria-label="back to experiment">Back</button>
    <button class="lab-info js-lab-toggle spot-bg-{{spot}}" aria-label="about experiment">{% include "../img/menu.svg" %}</button>
    {% block content %}{% endblock %}
  </div>
{% endblock %}
