{% extends 'layout.html' %}
{% set animation = 'no-fade' %}

{% block page %}
  <div class="constrain-wide leader-6 padding-leader-3 padding-trailer-4 padding-left-2 bg-{{spot}}">
    <p class="leader-6 font-size--2">Currently playing with:</p>
    <h1 class="leader-0">{{title}}</h1>
    <p>
      <time datetime="{{date|date('Y-m-d')}}" class="font-size--1">{{date|date('m.d.Y')}}</time>
    </p>
  </div>

  <div class="constrain-wide trailer-4 leader--4">
    <p class="bg-white flex-1 margin-left-1 margin-right-2 padding-leader-1 padding-left-1 font-size-2 text-light constrain-narrow">{{description}}</p>
  </div>

  <div class="constrain-wide">
    <h2 class="trailer-1 font-size-2"><a href="/lab/" class="link-plain">More Experiments</a></h2>
    {% for lab in collections.labs %}

    <a href="{{lab.url}}" class="link-plain lab-roll flex align-top leader-2 trailer-6 no-barba">
      <div class="flex-1">
        <img src="/img/{{lab.thumbnail}}" alt="{{lab.title}}">
      </div>
      <div class="lab-roll-text flex-1 bg-{{lab.spot}}">
        <h3 class="leader-1 font-size-1">{{lab.title}}</h3>
        <time class="font-size--2 l-block" datetime="{{lab.date|date('Y-m-d')}}">{{lab.date|date('Y')}}</time>
        <p class="text-light font-size--1">{{lab.description}}</p>
      </div>
    </a>

    {% endfor %}
  </div>

  <div class="lab js-lab">
    <button class="lab-thumbnail js-lab-thumbnail" aria-label="back to experiment">Back</button>
    <button class="lab-info js-lab-toggle spot-bg-{{spot}}" aria-label="about experiment">{% include "../img/menu.svg" %}</button>
    {% block content %}{% endblock %}
  </div>
{% endblock %}
