<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, height=device-height">
    <meta name="author" content="Paul C Pederson">
    <meta name="description" content="{{ description }}">
    <title>{{title}} | Paul C Pederson</title>
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="alternate" type="application/rss+xml" title="Paul C Pederson Feed" href="http://paulcpederson.com/feed.xml" />
    {% set card_image = twitter_image || thumbnail %}
    {% if card_image %}
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:image" content="http://paulcpederson.com/img/{{card_image}}">
      <meta property="og:image" content="http://paulcpederson.com/img/{{card_image}}">
    {% else %}
      <meta name="twitter:card" content="summary">
    {% endif %}
    <meta name="twitter:site" content="@paulcpederson">
    <meta name="twitter:creator" content="@paulcpederson">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{description}}">
    <meta property="og:title" content="{{title}}">
    <meta property="og:url" content="http://paulcpederson.com{{url}}">
    <link rel="alternate" href="/feed.xml" type="application/rss+xml" title="I'm a web designer and developer living in Portland, OR. I write about art, maps, design, and the internet.">
    <link rel="stylesheet" href="/css/style.css">
    {% for stylesheet in css %}<link rel="stylesheet" href="/css/{{stylesheet}}.css">{% endfor %}
  </head>

  <body>
    <!-- Top Navigation -->
    <header class="constrain-wide leader-2 trailer-1">
      <nav>
        <a href="/" class="nav-link">{% include "../img/logo.svg" %}</a>
        <div class="right">
          <a href="/articles/" class="nav-link">Articles</a>
          <a href="/work/" class="nav-link margin-left-2">Work</a>
          <a href="/lab/" class="nav-link margin-left-2">Lab</a>
        </div>
      </nav>
    </header>

    <!-- Content for Each Page -->
    {% block page %}{% endblock %}

    <!-- Footer -->
    <footer>
      <nav class="constrain-wide padding-leader-4 trailer-2">
        <a href="https://twitter.com/paulcpederson" aria-label="twitter">
          {% include "../img/twitter.svg" %}
        </a>
        <a href="https://github.com/paulcpederson" class="margin-left-1" aria-label="github">
          {% include "../img/github.svg" %}
        </a>
        <a href="https://plus.google.com/117963508642452000116?rel=author" class="margin-left-1" aria-label="google plus">
          {% include "../img/google-plus.svg" %}
        </a>
        <a href="http://dribbble.com/paulcpederson" class="margin-left-1" aria-label="dribbble">
          {% include "../img/dribbble.svg" %}
        </a>
      </nav>
    </footer>
    <script src="/js/script{% if production %}.min{% endif %}.js"></script>
    {% for script in js %}
      <script src="/js/{{script}}{% if production %}.min{% endif %}.js"></script>
    {% endfor %}

    {% if !production %}
      <script src="http://cdnjs.cloudflare.com/ajax/libs/html-inspector/0.8.2/html-inspector.js"></script>
      <script> HTMLInspector.inspect() </script>
    {% endif %}
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-41031992-4', 'auto');
      ga('send', 'pageview');
    </script>

  </body>
</html>