/* - - - - - - - - - - Basic Reset - - - - - - - - - - */
/* line 2, ../scss/base/_reset.scss */
html {
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 9, ../scss/base/_reset.scss */
body {
  margin: 0;
}

/* line 12, ../scss/base/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 13, ../scss/base/_reset.scss */
audio[controls], canvas, video {
  display: inline-block;
  zoom: 1;
}

/* line 14, ../scss/base/_reset.scss */
a:hover, a:active {
  outline: 0;
}

/* line 15, ../scss/base/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 20, ../scss/base/_reset.scss */
a, abbr, acronym, address, b, big, cite, code, del, em, i, ins, kbd, mark, output, q,
samp, small, strike, strong, sub, sup, time, tt, var,
dfn, dl, dt, dd, ol, ul, li,
blockquote, h1, h2, h3, h4, h5, h6, p, pre,
applet, canvas, embed, figure, figcaption, iframe, img, object {
  background: transparent;
  border: 0;
  font-size: 100%;
  font: inherit;
  line-height: 1.0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* line 21, ../scss/base/_mixins.scss */
.full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 27, ../scss/base/_mixins.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 31, ../scss/base/_mixins.scss */
.clearfix:after {
  clear: both;
}

/* line 2, ../scss/base/_grid.scss */
.col {
  display: block;
  float: left;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../scss/base/_grid.scss */
.col1of1 {
  float: none;
}

/* line 10, ../scss/base/_grid.scss */
.col1of2 {
  width: 50%;
}

/* line 11, ../scss/base/_grid.scss */
.col1of3 {
  width: 33.33333%;
}

/* line 12, ../scss/base/_grid.scss */
.col2of3 {
  width: 66.66666%;
}

/* line 13, ../scss/base/_grid.scss */
.col1of4 {
  width: 25%;
}

/* line 14, ../scss/base/_grid.scss */
.col3of4 {
  width: 75%;
}

/* line 15, ../scss/base/_grid.scss */
.col1of5 {
  width: 20%;
}

/* line 16, ../scss/base/_grid.scss */
.col2of5 {
  width: 40%;
}

/* line 17, ../scss/base/_grid.scss */
.col3of5 {
  width: 60%;
}

/* line 18, ../scss/base/_grid.scss */
.col4of5 {
  width: 80%;
}

/* line 20, ../scss/base/_grid.scss */
.col-group {
  font-family: 'Courier New', Monospace;
  letter-spacing: -.65em;
  margin-left: -1em;
  margin-right: -1em;
  text-align: left;
}
/* line 26, ../scss/base/_grid.scss */
.col-group .col {
  display: inline-block;
  float: none;
  font-family: "Karla", Arial, Helvetica, sans;
  letter-spacing: normal;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
  text-align: left;
  vertical-align: top;
}
/* line 37, ../scss/base/_grid.scss */
.col-group.no-padding {
  margin-left: 0;
  margin-right: 0;
}
/* line 40, ../scss/base/_grid.scss */
.col-group.no-padding .col {
  padding-left: 0;
  padding-right: 0;
}
/* line 45, ../scss/base/_grid.scss */
.col-group.table {
  dispay: table;
}
/* line 47, ../scss/base/_grid.scss */
.col-group.table .table-cell {
  display: table-cell;
  vertical-align: middle;
}

/* - - - - - - - - - Basic Typography - - - - - - - */
@font-face {
  font-family: 'Facit';
  src: url("../fonts/facit-regular-webfont.eot");
  src: url("../fonts/facit-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/facit-regular-webfont.woff") format("woff"), url("../fonts/facit-regular-webfont.ttf") format("truetype"), url("../fonts/facit-regular-webfont.svg#facitregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata';
  src: url("../fonts/inconsolata-regular-webfont.eot");
  src: url("../fonts/inconsolata-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/inconsolata-regular-webfont.woff") format("woff"), url("../fonts/inconsolata-regular-webfont.ttf") format("truetype"), url("../fonts/inconsolata-regular-webfont.svg#inconsolataregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url("../fonts/karla-bold-webfont.eot");
  src: url("../fonts/karla-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/karla-bold-webfont.woff") format("woff"), url("../fonts/karla-bold-webfont.ttf") format("truetype"), url("../fonts/karla-bold-webfont.svg#karlabold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Karla';
  src: url("../fonts/karla-bolditalic-webfont.eot");
  src: url("../fonts/karla-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/karla-bolditalic-webfont.woff") format("woff"), url("../fonts/karla-bolditalic-webfont.ttf") format("truetype"), url("../fonts/karla-bolditalic-webfont.svg#karlabolditalic") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Karla';
  src: url("../fonts/karla-italic-webfont.eot");
  src: url("../fonts/karla-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/karla-italic-webfont.woff") format("woff"), url("../fonts/karla-italic-webfont.ttf") format("truetype"), url("../fonts/karla-italic-webfont.svg#karlaitalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Karla';
  src: url("../fonts/karla-regular-webfont.eot");
  src: url("../fonts/karla-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/karla-regular-webfont.woff") format("woff"), url("../fonts/karla-regular-webfont.ttf") format("truetype"), url("../fonts/karla-regular-webfont.svg#karlaregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 68, ../scss/base/_typography.scss */
body {
  font-family: "Karla", Arial, Helvetica, sans;
  color: #242323;
  font-weight: 400;
  font-size: 1.125em;
  line-height: 1.6875em;
}

/* line 76, ../scss/base/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Facit", Arial, Helvetica, sans;
  line-height: 1em;
  font-weight: 400;
  font-size: 1.5em;
  margin: 2em 0 1em 0;
  text-transform: none;
}

/* line 85, ../scss/base/_typography.scss */
h1 {
  font-size: 1.5em;
}

/* line 86, ../scss/base/_typography.scss */
h2 {
  font-size: 1.35em;
}

/* line 87, ../scss/base/_typography.scss */
h3 {
  font-size: 0.9em;
}

/* line 88, ../scss/base/_typography.scss */
h4 {
  font-size: 0.825em;
}

/* line 89, ../scss/base/_typography.scss */
h5 {
  font-size: 0.75em;
}

/* line 90, ../scss/base/_typography.scss */
h6 {
  font-size: 0.675em;
}

/* line 94, ../scss/base/_typography.scss */
h1.yellow, h2.yellow, h3.yellow, h4.yellow, h5.yellow, h6.yellow, a.yellow {
  color: #b58900;
}
/* line 97, ../scss/base/_typography.scss */
h1.orange, h2.orange, h3.orange, h4.orange, h5.orange, h6.orange, a.orange {
  color: #cb4b16;
}
/* line 100, ../scss/base/_typography.scss */
h1.red, h2.red, h3.red, h4.red, h5.red, h6.red, a.red {
  color: #dc322f;
}
/* line 103, ../scss/base/_typography.scss */
h1.magenta, h2.magenta, h3.magenta, h4.magenta, h5.magenta, h6.magenta, a.magenta {
  color: #d33682;
}
/* line 106, ../scss/base/_typography.scss */
h1.violet, h2.violet, h3.violet, h4.violet, h5.violet, h6.violet, a.violet {
  color: #6c71c4;
}
/* line 109, ../scss/base/_typography.scss */
h1.blue, h2.blue, h3.blue, h4.blue, h5.blue, h6.blue, a.blue {
  color: #268bd2;
}
/* line 112, ../scss/base/_typography.scss */
h1.cyan, h2.cyan, h3.cyan, h4.cyan, h5.cyan, h6.cyan, a.cyan {
  color: #2aa198;
}
/* line 115, ../scss/base/_typography.scss */
h1.green, h2.green, h3.green, h4.green, h5.green, h6.green, a.green {
  color: #859900;
}

/* line 120, ../scss/base/_typography.scss */
blockquote {
  font-family: "Facit", Arial, Helvetica, sans;
  text-align: left;
  font-size: 1.25em;
  line-height: 2em;
  padding: 0 2em;
}

/* line 128, ../scss/base/_typography.scss */
p {
  line-height: 1.75em;
  margin: 1em 0;
}
/* line 131, ../scss/base/_typography.scss */
p.small {
  font-family: "Inconsolata", "Courier New", courier, monospace;
  font-size: 0.75em;
  color: #999999;
}

/* line 138, ../scss/base/_typography.scss */
a {
  text-decoration: none;
  color: #2aa198;
}

/* code styling */
/* line 3, ../scss/base/_code.scss */
code {
  font-family: "Inconsolata", "Courier New", courier, monospace;
  font-size: 0.85em;
  color: #30302f;
}

/* line 9, ../scss/base/_code.scss */
p code {
  padding: 0.35em;
  border-radius: 3px;
  position: relative;
  top: -0.05em;
  background: #F8F8F8;
  border: 1px solid #EFEFEF;
  color: #666666;
  white-space: nowrap;
  font-size: 0.75em;
  margin: 0 4px;
}

/* Solarized Dark Theme */
/* line 23, ../scss/base/_code.scss */
pre {
  width: 100%;
  background-color: #002b36;
  margin: 2em 0;
}
/* line 27, ../scss/base/_code.scss */
pre code {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  padding: 1em;
  background-color: #002b36;
  color: #839496;
  width: 100%;
  line-height: 1.25;
}
/* line 37, ../scss/base/_code.scss */
pre .comment, pre .template_comment, pre .diff .header, pre .doctype, pre .lisp .string, pre .javadoc {
  color: #586e75;
}
/* line 41, ../scss/base/_code.scss */
pre .keyword, pre .css .rule .keyword, pre .winutils, pre .javascript .title, pre .method, pre .addition, pre .css .tag, pre .lisp .title {
  color: #859900;
}
/* line 45, ../scss/base/_code.scss */
pre .number, pre .command, pre .string, pre .tag .value, pre .phpdoc, pre .tex .formula, pre .regexp, pre .hexcolor {
  color: #2aa198;
}
/* line 49, ../scss/base/_code.scss */
pre .title, pre .localvars, pre .function .title, pre .chunk, pre .decorator, pre .builtin, pre .built_in, pre .lisp .title, pre .identifier, pre .title .keymethods, pre .id {
  color: #268bd2;
}
/* line 53, ../scss/base/_code.scss */
pre .attribute, pre .variable, pre .instancevar, pre .lisp .body, pre .smalltalk .number, pre .constant, pre .class .title, pre .parent, pre .haskell .label {
  color: #b58900;
}
/* line 57, ../scss/base/_code.scss */
pre .preprocessor, pre .pi, pre .shebang, pre .symbol, pre .diff .change, pre .special, pre .keymethods, pre .attr_selector, pre .important, pre .subst, pre .cdata {
  color: #cb4b16;
}
/* line 61, ../scss/base/_code.scss */
pre .deletion {
  color: #dc322f;
}
/* line 65, ../scss/base/_code.scss */
pre .tex .formula {
  background: #073642;
}

/* line 1, ../scss/base/_buttons.scss */
.btn {
  display: inline-block;
  padding: 1em;
  background-color: transparent;
  color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #30302f;
  text-decoration: none;
  font-family: "Inconsolata", "Courier New", courier, monospace;
  font-size: 0.75em;
  cursor: pointer;
  -webkit-transition: background-color 75ms linear, color 75ms linear;
  -moz-transition: background-color 75ms linear, color 75ms linear;
  -o-transition: background-color 75ms linear, color 75ms linear;
  transition: background-color 75ms linear, color 75ms linear;
}
/* line 13, ../scss/base/_buttons.scss */
.btn:hover {
  background-color: #30302f;
  color: white;
}
/* line 17, ../scss/base/_buttons.scss */
.btn.cyan {
  border: 1px solid #2aa198;
  color: #2aa198;
}
/* line 20, ../scss/base/_buttons.scss */
.btn.cyan:hover {
  background-color: #2aa198;
  color: white;
}
/* line 25, ../scss/base/_buttons.scss */
.btn.white {
  border: 1px solid white;
  color: white;
}
/* line 28, ../scss/base/_buttons.scss */
.btn.white:hover {
  background-color: white;
  color: #2aa198;
}

/* line 2, ../scss/base/_layout.scss */
.nav {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4;
}
/* line 9, ../scss/base/_layout.scss */
.nav a {
  text-decoration: none;
  padding: 0.25em 0;
  -webkit-transition: 150ms border-color linear;
  -moz-transition: 150ms border-color linear;
  -o-transition: 150ms border-color linear;
  transition: 150ms border-color linear;
  border-bottom: 2px solid transparent;
}
/* line 15, ../scss/base/_layout.scss */
.nav span {
  padding: 0.25em 0.5em;
  line-height: 1em;
}

/* line 24, ../scss/base/_layout.scss */
.panel {
  width: 100%;
  padding: 2em 0;
  background-color: white;
}
/* line 28, ../scss/base/_layout.scss */
.panel.transparent {
  background-color: transparent;
}
/* line 31, ../scss/base/_layout.scss */
.panel.white {
  background-color: white;
  color: #666666;
}
/* line 35, ../scss/base/_layout.scss */
.panel.tan {
  background-color: #002b36;
  color: #666666;
}
/* line 39, ../scss/base/_layout.scss */
.panel.navy {
  background-color: #002b36;
  color: #999999;
}

/* line 45, ../scss/base/_layout.scss */
.constrain {
  width: 80%;
  max-width: 45em;
  padding: 0 10%;
  margin: 0 auto;
}
/* line 50, ../scss/base/_layout.scss */
.constrain .full-width {
  width: 100vw;
  height: auto;
}

/* line 56, ../scss/base/_layout.scss */
.feature {
  margin-top: -3em;
}

/* line 60, ../scss/base/_layout.scss */
.right {
  float: right;
}

/* line 64, ../scss/base/_layout.scss */
.left {
  float: left;
}

/* line 3, ../scss/_home.scss */
.hero.homepage {
  min-height: 50vh;
}
/* line 5, ../scss/_home.scss */
.hero.homepage .title-wrap {
  padding: 6em 0 5em 0;
}
/* line 8, ../scss/_home.scss */
.hero.homepage .title {
  text-align: left;
  margin: 0;
}
/* line 12, ../scss/_home.scss */
.hero.homepage .description {
  text-align: left;
  margin: 1em 0;
}

/* line 20, ../scss/_home.scss */
.blog-roll {
  position: relative;
  margin: 3em 0;
}
/* line 23, ../scss/_home.scss */
.blog-roll h2 {
  margin: 1em 0;
}
/* line 26, ../scss/_home.scss */
.blog-roll p {
  font-size: 0.75em;
}
/* line 29, ../scss/_home.scss */
.blog-roll .text {
  margin-left: 55%;
  padding-top: 1em;
  padding-bottom: 1em;
}

/* line 35, ../scss/_home.scss */
.thumbnail {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  background-size: cover;
  background-position: center;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
/* line 45, ../scss/_home.scss */
.thumbnail:hover {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

/* line 2, ../scss/_article.scss */
body.yellow {
  border-top: 8px solid #b58900;
}
/* line 43, ../scss/base/_mixins.scss */
body.yellow nav span {
  color: #b58900;
}
/* line 46, ../scss/base/_mixins.scss */
body.yellow nav a {
  color: #b58900;
}
/* line 48, ../scss/base/_mixins.scss */
body.yellow nav a:hover {
  color: #b58900;
  border-bottom: 2px solid #b58900;
}
/* line 55, ../scss/base/_mixins.scss */
body.yellow .title-wrap .btn {
  border-color: #b58900;
  color: #b58900;
}
/* line 58, ../scss/base/_mixins.scss */
body.yellow .title-wrap .btn:hover {
  background-color: #b58900;
  color: white;
}
/* line 64, ../scss/base/_mixins.scss */
body.yellow .title {
  color: #b58900;
}
/* line 66, ../scss/base/_mixins.scss */
body.yellow .title a {
  color: #b58900;
}
/* line 70, ../scss/base/_mixins.scss */
body.yellow .date {
  color: #b58900;
}
/* line 73, ../scss/base/_mixins.scss */
body.yellow .bottom-nav {
  background: #b58900;
}
/* line 76, ../scss/base/_mixins.scss */
body.yellow .bottom-nav .constrain a {
  background: #b58900;
}
/* line 78, ../scss/base/_mixins.scss */
body.yellow .bottom-nav .constrain a.next {
  background: url(../img/right-arrow.svg) 80% center no-repeat #b58900;
}
/* line 80, ../scss/base/_mixins.scss */
body.yellow .bottom-nav .constrain a.next:hover {
  background: url(../img/right-arrow.svg) 82% center no-repeat #9c7600;
}
/* line 84, ../scss/base/_mixins.scss */
body.yellow .bottom-nav .constrain a.previous {
  background: url(../img/left-arrow.svg) 10% center no-repeat #b58900;
}
/* line 86, ../scss/base/_mixins.scss */
body.yellow .bottom-nav .constrain a.previous:hover {
  background: url(../img/left-arrow.svg) 8% center no-repeat #9c7600;
}
/* line 94, ../scss/base/_mixins.scss */
body.yellow .navy a {
  color: #b58900;
}
/* line 99, ../scss/base/_mixins.scss */
body.yellow article a {
  color: #b58900;
}
/* line 101, ../scss/base/_mixins.scss */
body.yellow article a:hover {
  border-bottom: 2px solid #b58900;
}
/* line 105, ../scss/base/_mixins.scss */
body.yellow article blockquote {
  color: #b58900;
  border-left: 3px solid #b58900;
}
/* line 5, ../scss/_article.scss */
body.orange {
  border-top: 8px solid #cb4b16;
}
/* line 43, ../scss/base/_mixins.scss */
body.orange nav span {
  color: #cb4b16;
}
/* line 46, ../scss/base/_mixins.scss */
body.orange nav a {
  color: #cb4b16;
}
/* line 48, ../scss/base/_mixins.scss */
body.orange nav a:hover {
  color: #cb4b16;
  border-bottom: 2px solid #cb4b16;
}
/* line 55, ../scss/base/_mixins.scss */
body.orange .title-wrap .btn {
  border-color: #cb4b16;
  color: #cb4b16;
}
/* line 58, ../scss/base/_mixins.scss */
body.orange .title-wrap .btn:hover {
  background-color: #cb4b16;
  color: white;
}
/* line 64, ../scss/base/_mixins.scss */
body.orange .title {
  color: #cb4b16;
}
/* line 66, ../scss/base/_mixins.scss */
body.orange .title a {
  color: #cb4b16;
}
/* line 70, ../scss/base/_mixins.scss */
body.orange .date {
  color: #cb4b16;
}
/* line 73, ../scss/base/_mixins.scss */
body.orange .bottom-nav {
  background: #cb4b16;
}
/* line 76, ../scss/base/_mixins.scss */
body.orange .bottom-nav .constrain a {
  background: #cb4b16;
}
/* line 78, ../scss/base/_mixins.scss */
body.orange .bottom-nav .constrain a.next {
  background: url(../img/right-arrow.svg) 80% center no-repeat #cb4b16;
}
/* line 80, ../scss/base/_mixins.scss */
body.orange .bottom-nav .constrain a.next:hover {
  background: url(../img/right-arrow.svg) 82% center no-repeat #b44214;
}
/* line 84, ../scss/base/_mixins.scss */
body.orange .bottom-nav .constrain a.previous {
  background: url(../img/left-arrow.svg) 10% center no-repeat #cb4b16;
}
/* line 86, ../scss/base/_mixins.scss */
body.orange .bottom-nav .constrain a.previous:hover {
  background: url(../img/left-arrow.svg) 8% center no-repeat #b44214;
}
/* line 94, ../scss/base/_mixins.scss */
body.orange .navy a {
  color: #cb4b16;
}
/* line 99, ../scss/base/_mixins.scss */
body.orange article a {
  color: #cb4b16;
}
/* line 101, ../scss/base/_mixins.scss */
body.orange article a:hover {
  border-bottom: 2px solid #cb4b16;
}
/* line 105, ../scss/base/_mixins.scss */
body.orange article blockquote {
  color: #cb4b16;
  border-left: 3px solid #cb4b16;
}
/* line 8, ../scss/_article.scss */
body.red {
  border-top: 8px solid #dc322f;
}
/* line 43, ../scss/base/_mixins.scss */
body.red nav span {
  color: #dc322f;
}
/* line 46, ../scss/base/_mixins.scss */
body.red nav a {
  color: #dc322f;
}
/* line 48, ../scss/base/_mixins.scss */
body.red nav a:hover {
  color: #dc322f;
  border-bottom: 2px solid #dc322f;
}
/* line 55, ../scss/base/_mixins.scss */
body.red .title-wrap .btn {
  border-color: #dc322f;
  color: #dc322f;
}
/* line 58, ../scss/base/_mixins.scss */
body.red .title-wrap .btn:hover {
  background-color: #dc322f;
  color: white;
}
/* line 64, ../scss/base/_mixins.scss */
body.red .title {
  color: #dc322f;
}
/* line 66, ../scss/base/_mixins.scss */
body.red .title a {
  color: #dc322f;
}
/* line 70, ../scss/base/_mixins.scss */
body.red .date {
  color: #dc322f;
}
/* line 73, ../scss/base/_mixins.scss */
body.red .bottom-nav {
  background: #dc322f;
}
/* line 76, ../scss/base/_mixins.scss */
body.red .bottom-nav .constrain a {
  background: #dc322f;
}
/* line 78, ../scss/base/_mixins.scss */
body.red .bottom-nav .constrain a.next {
  background: url(../img/right-arrow.svg) 80% center no-repeat #dc322f;
}
/* line 80, ../scss/base/_mixins.scss */
body.red .bottom-nav .constrain a.next:hover {
  background: url(../img/right-arrow.svg) 82% center no-repeat #cf2623;
}
/* line 84, ../scss/base/_mixins.scss */
body.red .bottom-nav .constrain a.previous {
  background: url(../img/left-arrow.svg) 10% center no-repeat #dc322f;
}
/* line 86, ../scss/base/_mixins.scss */
body.red .bottom-nav .constrain a.previous:hover {
  background: url(../img/left-arrow.svg) 8% center no-repeat #cf2623;
}
/* line 94, ../scss/base/_mixins.scss */
body.red .navy a {
  color: #dc322f;
}
/* line 99, ../scss/base/_mixins.scss */
body.red article a {
  color: #dc322f;
}
/* line 101, ../scss/base/_mixins.scss */
body.red article a:hover {
  border-bottom: 2px solid #dc322f;
}
/* line 105, ../scss/base/_mixins.scss */
body.red article blockquote {
  color: #dc322f;
  border-left: 3px solid #dc322f;
}
/* line 11, ../scss/_article.scss */
body.magenta {
  border-top: 8px solid #d33682;
}
/* line 43, ../scss/base/_mixins.scss */
body.magenta nav span {
  color: #d33682;
}
/* line 46, ../scss/base/_mixins.scss */
body.magenta nav a {
  color: #d33682;
}
/* line 48, ../scss/base/_mixins.scss */
body.magenta nav a:hover {
  color: #d33682;
  border-bottom: 2px solid #d33682;
}
/* line 55, ../scss/base/_mixins.scss */
body.magenta .title-wrap .btn {
  border-color: #d33682;
  color: #d33682;
}
/* line 58, ../scss/base/_mixins.scss */
body.magenta .title-wrap .btn:hover {
  background-color: #d33682;
  color: white;
}
/* line 64, ../scss/base/_mixins.scss */
body.magenta .title {
  color: #d33682;
}
/* line 66, ../scss/base/_mixins.scss */
body.magenta .title a {
  color: #d33682;
}
/* line 70, ../scss/base/_mixins.scss */
body.magenta .date {
  color: #d33682;
}
/* line 73, ../scss/base/_mixins.scss */
body.magenta .bottom-nav {
  background: #d33682;
}
/* line 76, ../scss/base/_mixins.scss */
body.magenta .bottom-nav .constrain a {
  background: #d33682;
}
/* line 78, ../scss/base/_mixins.scss */
body.magenta .bottom-nav .constrain a.next {
  background: url(../img/right-arrow.svg) 80% center no-repeat #d33682;
}
/* line 80, ../scss/base/_mixins.scss */
body.magenta .bottom-nav .constrain a.next:hover {
  background: url(../img/right-arrow.svg) 82% center no-repeat #c42b75;
}
/* line 84, ../scss/base/_mixins.scss */
body.magenta .bottom-nav .constrain a.previous {
  background: url(../img/left-arrow.svg) 10% center no-repeat #d33682;
}
/* line 86, ../scss/base/_mixins.scss */
body.magenta .bottom-nav .constrain a.previous:hover {
  background: url(../img/left-arrow.svg) 8% center no-repeat #c42b75;
}
/* line 94, ../scss/base/_mixins.scss */
body.magenta .navy a {
  color: #d33682;
}
/* line 99, ../scss/base/_mixins.scss */
body.magenta article a {
  color: #d33682;
}
/* line 101, ../scss/base/_mixins.scss */
body.magenta article a:hover {
  border-bottom: 2px solid #d33682;
}
/* line 105, ../scss/base/_mixins.scss */
body.magenta article blockquote {
  color: #d33682;
  border-left: 3px solid #d33682;
}
/* line 14, ../scss/_article.scss */
body.violet {
  border-top: 8px solid #6c71c4;
}
/* line 43, ../scss/base/_mixins.scss */
body.violet nav span {
  color: #6c71c4;
}
/* line 46, ../scss/base/_mixins.scss */
body.violet nav a {
  color: #6c71c4;
}
/* line 48, ../scss/base/_mixins.scss */
body.violet nav a:hover {
  color: #6c71c4;
  border-bottom: 2px solid #6c71c4;
}
/* line 55, ../scss/base/_mixins.scss */
body.violet .title-wrap .btn {
  border-color: #6c71c4;
  color: #6c71c4;
}
/* line 58, ../scss/base/_mixins.scss */
body.violet .title-wrap .btn:hover {
  background-color: #6c71c4;
  color: white;
}
/* line 64, ../scss/base/_mixins.scss */
body.violet .title {
  color: #6c71c4;
}
/* line 66, ../scss/base/_mixins.scss */
body.violet .title a {
  color: #6c71c4;
}
/* line 70, ../scss/base/_mixins.scss */
body.violet .date {
  color: #6c71c4;
}
/* line 73, ../scss/base/_mixins.scss */
body.violet .bottom-nav {
  background: #6c71c4;
}
/* line 76, ../scss/base/_mixins.scss */
body.violet .bottom-nav .constrain a {
  background: #6c71c4;
}
/* line 78, ../scss/base/_mixins.scss */
body.violet .bottom-nav .constrain a.next {
  background: url(../img/right-arrow.svg) 80% center no-repeat #6c71c4;
}
/* line 80, ../scss/base/_mixins.scss */
body.violet .bottom-nav .constrain a.next:hover {
  background: url(../img/right-arrow.svg) 82% center no-repeat #5a5fbd;
}
/* line 84, ../scss/base/_mixins.scss */
body.violet .bottom-nav .constrain a.previous {
  background: url(../img/left-arrow.svg) 10% center no-repeat #6c71c4;
}
/* line 86, ../scss/base/_mixins.scss */
body.violet .bottom-nav .constrain a.previous:hover {
  background: url(../img/left-arrow.svg) 8% center no-repeat #5a5fbd;
}
/* line 94, ../scss/base/_mixins.scss */
body.violet .navy a {
  color: #6c71c4;
}
/* line 99, ../scss/base/_mixins.scss */
body.violet article a {
  color: #6c71c4;
}
/* line 101, ../scss/base/_mixins.scss */
body.violet article a:hover {
  border-bottom: 2px solid #6c71c4;
}
/* line 105, ../scss/base/_mixins.scss */
body.violet article blockquote {
  color: #6c71c4;
  border-left: 3px solid #6c71c4;
}
/* line 17, ../scss/_article.scss */
body.blue {
  border-top: 8px solid #268bd2;
}
/* line 43, ../scss/base/_mixins.scss */
body.blue nav span {
  color: #268bd2;
}
/* line 46, ../scss/base/_mixins.scss */
body.blue nav a {
  color: #268bd2;
}
/* line 48, ../scss/base/_mixins.scss */
body.blue nav a:hover {
  color: #268bd2;
  border-bottom: 2px solid #268bd2;
}
/* line 55, ../scss/base/_mixins.scss */
body.blue .title-wrap .btn {
  border-color: #268bd2;
  color: #268bd2;
}
/* line 58, ../scss/base/_mixins.scss */
body.blue .title-wrap .btn:hover {
  background-color: #268bd2;
  color: white;
}
/* line 64, ../scss/base/_mixins.scss */
body.blue .title {
  color: #268bd2;
}
/* line 66, ../scss/base/_mixins.scss */
body.blue .title a {
  color: #268bd2;
}
/* line 70, ../scss/base/_mixins.scss */
body.blue .date {
  color: #268bd2;
}
/* line 73, ../scss/base/_mixins.scss */
body.blue .bottom-nav {
  background: #268bd2;
}
/* line 76, ../scss/base/_mixins.scss */
body.blue .bottom-nav .constrain a {
  background: #268bd2;
}
/* line 78, ../scss/base/_mixins.scss */
body.blue .bottom-nav .constrain a.next {
  background: url(../img/right-arrow.svg) 80% center no-repeat #268bd2;
}
/* line 80, ../scss/base/_mixins.scss */
body.blue .bottom-nav .constrain a.next:hover {
  background: url(../img/right-arrow.svg) 82% center no-repeat #227dbc;
}
/* line 84, ../scss/base/_mixins.scss */
body.blue .bottom-nav .constrain a.previous {
  background: url(../img/left-arrow.svg) 10% center no-repeat #268bd2;
}
/* line 86, ../scss/base/_mixins.scss */
body.blue .bottom-nav .constrain a.previous:hover {
  background: url(../img/left-arrow.svg) 8% center no-repeat #227dbc;
}
/* line 94, ../scss/base/_mixins.scss */
body.blue .navy a {
  color: #268bd2;
}
/* line 99, ../scss/base/_mixins.scss */
body.blue article a {
  color: #268bd2;
}
/* line 101, ../scss/base/_mixins.scss */
body.blue article a:hover {
  border-bottom: 2px solid #268bd2;
}
/* line 105, ../scss/base/_mixins.scss */
body.blue article blockquote {
  color: #268bd2;
  border-left: 3px solid #268bd2;
}
/* line 20, ../scss/_article.scss */
body.cyan {
  border-top: 8px solid #2aa198;
}
/* line 43, ../scss/base/_mixins.scss */
body.cyan nav span {
  color: #2aa198;
}
/* line 46, ../scss/base/_mixins.scss */
body.cyan nav a {
  color: #2aa198;
}
/* line 48, ../scss/base/_mixins.scss */
body.cyan nav a:hover {
  color: #2aa198;
  border-bottom: 2px solid #2aa198;
}
/* line 55, ../scss/base/_mixins.scss */
body.cyan .title-wrap .btn {
  border-color: #2aa198;
  color: #2aa198;
}
/* line 58, ../scss/base/_mixins.scss */
body.cyan .title-wrap .btn:hover {
  background-color: #2aa198;
  color: white;
}
/* line 64, ../scss/base/_mixins.scss */
body.cyan .title {
  color: #2aa198;
}
/* line 66, ../scss/base/_mixins.scss */
body.cyan .title a {
  color: #2aa198;
}
/* line 70, ../scss/base/_mixins.scss */
body.cyan .date {
  color: #2aa198;
}
/* line 73, ../scss/base/_mixins.scss */
body.cyan .bottom-nav {
  background: #2aa198;
}
/* line 76, ../scss/base/_mixins.scss */
body.cyan .bottom-nav .constrain a {
  background: #2aa198;
}
/* line 78, ../scss/base/_mixins.scss */
body.cyan .bottom-nav .constrain a.next {
  background: url(../img/right-arrow.svg) 80% center no-repeat #2aa198;
}
/* line 80, ../scss/base/_mixins.scss */
body.cyan .bottom-nav .constrain a.next:hover {
  background: url(../img/right-arrow.svg) 82% center no-repeat #258d85;
}
/* line 84, ../scss/base/_mixins.scss */
body.cyan .bottom-nav .constrain a.previous {
  background: url(../img/left-arrow.svg) 10% center no-repeat #2aa198;
}
/* line 86, ../scss/base/_mixins.scss */
body.cyan .bottom-nav .constrain a.previous:hover {
  background: url(../img/left-arrow.svg) 8% center no-repeat #258d85;
}
/* line 94, ../scss/base/_mixins.scss */
body.cyan .navy a {
  color: #2aa198;
}
/* line 99, ../scss/base/_mixins.scss */
body.cyan article a {
  color: #2aa198;
}
/* line 101, ../scss/base/_mixins.scss */
body.cyan article a:hover {
  border-bottom: 2px solid #2aa198;
}
/* line 105, ../scss/base/_mixins.scss */
body.cyan article blockquote {
  color: #2aa198;
  border-left: 3px solid #2aa198;
}
/* line 23, ../scss/_article.scss */
body.green {
  border-top: 8px solid #859900;
}
/* line 43, ../scss/base/_mixins.scss */
body.green nav span {
  color: #859900;
}
/* line 46, ../scss/base/_mixins.scss */
body.green nav a {
  color: #859900;
}
/* line 48, ../scss/base/_mixins.scss */
body.green nav a:hover {
  color: #859900;
  border-bottom: 2px solid #859900;
}
/* line 55, ../scss/base/_mixins.scss */
body.green .title-wrap .btn {
  border-color: #859900;
  color: #859900;
}
/* line 58, ../scss/base/_mixins.scss */
body.green .title-wrap .btn:hover {
  background-color: #859900;
  color: white;
}
/* line 64, ../scss/base/_mixins.scss */
body.green .title {
  color: #859900;
}
/* line 66, ../scss/base/_mixins.scss */
body.green .title a {
  color: #859900;
}
/* line 70, ../scss/base/_mixins.scss */
body.green .date {
  color: #859900;
}
/* line 73, ../scss/base/_mixins.scss */
body.green .bottom-nav {
  background: #859900;
}
/* line 76, ../scss/base/_mixins.scss */
body.green .bottom-nav .constrain a {
  background: #859900;
}
/* line 78, ../scss/base/_mixins.scss */
body.green .bottom-nav .constrain a.next {
  background: url(../img/right-arrow.svg) 80% center no-repeat #859900;
}
/* line 80, ../scss/base/_mixins.scss */
body.green .bottom-nav .constrain a.next:hover {
  background: url(../img/right-arrow.svg) 82% center no-repeat #6f8000;
}
/* line 84, ../scss/base/_mixins.scss */
body.green .bottom-nav .constrain a.previous {
  background: url(../img/left-arrow.svg) 10% center no-repeat #859900;
}
/* line 86, ../scss/base/_mixins.scss */
body.green .bottom-nav .constrain a.previous:hover {
  background: url(../img/left-arrow.svg) 8% center no-repeat #6f8000;
}
/* line 94, ../scss/base/_mixins.scss */
body.green .navy a {
  color: #859900;
}
/* line 99, ../scss/base/_mixins.scss */
body.green article a {
  color: #859900;
}
/* line 101, ../scss/base/_mixins.scss */
body.green article a:hover {
  border-bottom: 2px solid #859900;
}
/* line 105, ../scss/base/_mixins.scss */
body.green article blockquote {
  color: #859900;
  border-left: 3px solid #859900;
}

/* line 29, ../scss/_article.scss */
.hero {
  width: 100%;
  min-height: 80vh;
  display: block;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  background-size: cover;
}
/* line 38, ../scss/_article.scss */
.hero.mesh:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background-image: url(../img/navy-mesh.gif);
  background-color: transparent;
  background-repeat: repeat;
  background-position: top left;
}
/* line 51, ../scss/_article.scss */
.hero.tan {
  background-color: #fdf6e3;
}
/* line 53, ../scss/_article.scss */
.hero.tan.mesh:before {
  background-image: url(../img/tan-mesh.gif);
}
/* line 57, ../scss/_article.scss */
.hero.navy {
  background-color: #002b36;
}
/* line 59, ../scss/_article.scss */
.hero.navy.mesh:before {
  background-image: url(../img/navy-mesh.gif);
}
/* line 62, ../scss/_article.scss */
.hero.navy .description {
  color: #dddddd;
}

/* line 68, ../scss/_article.scss */
.title-wrap {
  position: relative;
  display: block;
  z-index: 2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 25vh 1em 4em 1em;
}
/* line 74, ../scss/_article.scss */
.title-wrap.in-article {
  padding: 1.5em 1em 0 1em;
}
/* line 76, ../scss/_article.scss */
.title-wrap.in-article .date {
  padding-bottom: 0;
}

/* line 82, ../scss/_article.scss */
.title {
  text-align: center;
  font-size: 1.5em;
}

/* line 87, ../scss/_article.scss */
.description {
  text-align: center;
  font-size: 1em;
  max-width: 22em;
  margin: 2em auto;
  color: #666666;
}

/* line 95, ../scss/_article.scss */
.date {
  text-align: center;
  padding-bottom: 3em;
}

/* line 100, ../scss/_article.scss */
.feature-image {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 90%;
  height: auto;
  max-width: 40em;
  display: block;
  position: relative;
  z-index: 3;
  margin: 0 auto;
  padding: 6em 1em 4em 1em;
}

/* line 113, ../scss/_article.scss */
article .content {
  margin-top: 1em;
  margin-bottom: 3em;
}
/* line 117, ../scss/_article.scss */
article img {
  max-width: 125%;
  margin: 1em 0 0 -12.5%;
  height: auto;
}
/* line 121, ../scss/_article.scss */
article img.skinny {
  margin-left: 0;
  max-width: 100%;
}
/* line 126, ../scss/_article.scss */
article blockquote {
  max-width: 20em;
  margin: 2em 0 2em -12.5%;
}
/* line 130, ../scss/_article.scss */
article .full {
  max-width: 125%;
  margin: 2em 0 2em -12.5%;
}
/* line 134, ../scss/_article.scss */
article a {
  border-bottom: 2px solid transparent;
  -webkit-transition: 150ms border-color linear;
  -moz-transition: 150ms border-color linear;
  -o-transition: 150ms border-color linear;
  transition: 150ms border-color linear;
}

/* line 141, ../scss/_article.scss */
.bottom-nav {
  width: 100%;
  padding: 0;
  display: block;
  background: #2aa198;
  margin: 0;
  text-align: center;
}
/* line 148, ../scss/_article.scss */
.bottom-nav a {
  width: 50%;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #2aa198;
  color: white;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}
/* line 155, ../scss/_article.scss */
.bottom-nav a .small {
  color: white;
}
/* line 158, ../scss/_article.scss */
.bottom-nav a p {
  margin: 0.5em 0;
}
/* line 161, ../scss/_article.scss */
.bottom-nav a.next {
  padding: 3em 20% 2.5em 0;
  background: url(../img/right-arrow.svg) 80% center no-repeat #2aa198;
  text-align: right;
}
/* line 165, ../scss/_article.scss */
.bottom-nav a.next:hover {
  padding-right: 18%;
  background: url(../img/right-arrow.svg) 82% center no-repeat #258d85;
}
/* line 170, ../scss/_article.scss */
.bottom-nav a.previous {
  padding: 3em 0 2.5em 20%;
  background: url(../img/left-arrow.svg) 10% center no-repeat #2aa198;
  text-align: left;
}
/* line 174, ../scss/_article.scss */
.bottom-nav a.previous:hover {
  padding-left: 18%;
  background: url(../img/left-arrow.svg) 8% center no-repeat #258d85;
}

/* line 3, ../scss/_archive.scss */
.hero.short {
  min-height: 0;
}
/* line 5, ../scss/_archive.scss */
.hero.short .title-wrap {
  padding: 3em;
}

/* line 11, ../scss/_archive.scss */
.archive {
  margin-bottom: 1em;
}

/* line 15, ../scss/_archive.scss */
.year {
  margin: 1.5em 0;
}

/* line 19, ../scss/_archive.scss */
.archive-title {
  margin-bottom: 0;
}

/* line 23, ../scss/_archive.scss */
.archive-description {
  margin: 0;
  font-size: 0.9em;
  max-width: 24em;
}
