extends layout

block append vars
  - bodyclass = 'red'

block append head
  link(rel='stylesheet', href=locals.url + '/css/404.css')

block prepend description
  meta(name='description', content='Code 404: Page Not Found')

block hero
  section.hero.short.navy(style='background-image: none;')
    div.title-wrap.constrain
      h1.title.four-zero-four 404

block content

block append scripts
  script(src= locals.url + '/js/404.js')
