
extends layout


block append vars
  - bodyclass = 'cyan'

block prepend description
  meta(name='description', content='Archive of blog articles written by Paul C Pederson')

block hero
  section.hero.short.navy(style='background-image: none;')
    div.title-wrap.constrain
      h1.title Archive

block content
  - var lineHeight = 2.2;
  - var archive = _.chain(env.helpers.getArticles(contents)).groupBy(function(item) {
  -   return item.date.getUTCFullYear()
  - }).value()
  - var map = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
  div.panel.white
    section.constrain
      - var years = _.chain(archive).keys().reverse().value()
      each year, i in years
        div.col-group.year
          div.col.col1of5
            p= year
          - var yearArticles = _.groupBy(archive[year], function(item) { return map[item.date.getUTCMonth()] })
          - var months = Object.keys(yearArticles);
          div.col.col4of5
            div.col-group
              each month, i in months
                - var articles = yearArticles[month]
                  each article, i in articles
                    div.archive.col.col1of2
                      p.archive-title
                        a(href=article.url)= article.title
                      p.small= moment.utc(article.date).format('M.D.YYYY')
                      p.archive-description= article.metadata.description

