
extends layout


block append vars
  - bodyclass = 'cyan'

block hero
  section.hero.navy.short
    div.title-wrap.constrain
      h1.title Archive

block content
  - var lineHeight = 2.2;
  - var archive = _.chain(env.helpers.getArticles(contents)).groupBy(function(item) {
  -   return item.date.getUTCFullYear()
  - }).value()
  - var map = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
  div.panel.white
    section.archive.constrain
      - var years = _.chain(archive).keys().reverse().value()
      each year, i in years
        div.col-group.year
          div.col.col1of4
            p.right= year
          div.col.col3of4
            - var yearArticles = _.groupBy(archive[year], function(item) { return map[item.date.getUTCMonth()] })
            - var months = Object.keys(yearArticles);
            each month, i in months
              - var articles = yearArticles[month]
              each article, i in articles
                div.archive
                  p.archive-title
                    a(href=article.url)= article.title
                  p.small= moment.utc(article.date).format('M.D.YYYY')
                  p.archive-description= article.metadata.description

