
extends layout

//- this logic should be moved to a view at some point

block content
  - var lineHeight = 2.2;
  - var archive = _.chain(env.helpers.getArticles(contents)).groupBy(function(item) {
  -   return item.date.getUTCFullYear()
  - }).value()
  - var map = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
  section.archive
    h2 Archive
      - var years = _.chain(archive).keys().reverse().value()
      each year, i in years
        p
          span= year
        - var yearArticles = _.groupBy(archive[year], function(item) { return map[item.date.getUTCMonth()] })
        - var months = Object.keys(yearArticles);
        each month, i in months
          - var articles = yearArticles[month]
            each article, i in articles
              p
                a(href=article.url)= article.title

