extends layout

block append vars
  - bodyclass = 'cyan'

block content
  div.panel.white
    div.constrain
      div.col-group.clearfix.thumbs
        each article in articles
          div.col.col1of3.thumb
            article
              header
                h2
                  a(href= locals.url + article.url)= article.title
                p
                  span= moment.utc(article.date).format('DD. MMMM YYYY')
              section.content
                p= article.metadata.description
                a.btn.cyan(href= locals.url + article.url) Read More »

block prepend footer
  div
    if prevPage
      a(href= locals.url + prevPage.url) « Newer
    else
      a(href= locals.url +'/archive.html') « Archives
    if nextPage
      a(href= locals.url + nextPage.url) Next page »



