extends basic

block append vars
  - bodyclass = page.metadata.spot + ' map'

block prepend description
  meta(name='description', content= page.metadata.description)

block prepend title
  | #{ page.title + " | "}

block append head
  if page.metadata.css
    each css in page.metadata.css
      link(rel='stylesheet', href= locals.url + '/css/' + css + '.css')

block header
  a.back-to(href=page.metadata.url)= page.metadata.post

block content
  != page.html

block append scripts
  if page.metadata.js
    each js in page.metadata.js
      script(src= locals.url + '/js/' + js + '.js')
