---
title: Clock
date: 2016-11-20
template: _templates/lab.html
thumbnail: low-poly-thumb.png
spot: red
description: Lightweight, miminal clock drawn using canvas
labClass: lab-mint
css:
  - lab
  - lab/clock
js:
  - lab
  - clock
collections:
  labs: /lab/*
---
<div class="fullscreen-canvas bg-white flex flex-center flex-justify-center">
  <div class="clock-container">
    {% include "../../img/clock/background.svg" %}
    {% include "../../img/clock/second.svg" %}
    {% include "../../img/clock/minute.svg" %}
    {% include "../../img/clock/hour.svg" %}
  </div>
</div>