---
title: Clock
date: 2016-11-23
template: _templates/lab.html
thumbnail: clock-thumb.png
spot: red
description: Lightweight, miminal clock created with SVG and CSS
css:
  - lab
  - lab/clock
js:
  - lab
  - clock
collections:
  labs: /lab/*
---
<div class="fullscreen-canvas bg-white flex flex-center flex-justify-center">
  <div class="clock-container">
    {% include "../../img/clock/background.svg" %}
    <div class="clock js-second">{% include "../../img/clock/second.svg" %}</div>
    <div class="clock js-minute">{% include "../../img/clock/minute.svg" %}</div>
    <div class="clock js-hour">{% include "../../img/clock/hour.svg" %}</div>
  </div>
</div>