// Flex Box Helpers
.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: $tablet) {
  .tablet-flex-column {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: $phone-wide) {
  .phone-flex-column {
    flex-direction: column;
  }
}

// Basic Type Helpers
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-size--3 { font-size: 0.75em; }
.text-size--2 { font-size: 0.8em; }
.text-size--1 { font-size: 0.9em; }
.text-size-3 { font-size: 3em; }
.text-narrow { max-width: 24em; }

.text-subtle {
  font-family: $button-font;
  font-weight: 300;
  letter-spacing: -.03em;
  color: $base0;
}

.text-center {
  text-align: center;
}

.text-overflow {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

// Positioning
.l-relative { position: relative; }
.l-block { display: block; }
.l-inline-block { display: inline-block; }
.l-center {
  margin-left: auto;
  margin-right: auto;
}

.constrain {
  width: 80%;
  max-width: 45em;
  padding-left: 10%;
  padding-right: 10%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: $tablet) {
  .constrain {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
  }
}

.right {
  float: right;
}

.left {
  float: left;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.full {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
}

.full-short {
  min-height: 90vh;
}

.hide-mobile {
  @include respond-to($phone-wide) {
    display: none;
  }
}

// Furniture for spacing
@for $n from 0 through 8 {
  .leader-#{$n} { margin-top: $n * 1rem; }
  .trailer-#{$n} { margin-bottom: $n * 1rem; }
  .padding-leader-#{$n} { padding-top: $n * 1rem; }
  .padding-trailer-#{$n} { padding-bottom: $n * 1rem; }
  .padding-left-#{$n} { padding-left: $n * 1rem; }
  .padding-right-#{$n} { padding-right: $n * 1rem; }
  .margin-left-#{$n} { margin-left: $n * 1rem; }
  .margin-right-#{$n} { margin-right: $n * 1rem; }
}
