@mixin body-class ($color) {
  border-top: 8px solid $color;
  nav {
    span {
      color: $color;
    }
    a {
      color: $color;
      &:hover, &:focus {
        color: $color;
        border-bottom: 2px solid $color;
      }
    }
  }
  .title-wrap {
    .btn {
      border-color: $color;
      color: $color;
      &:hover, &:focus {
        background-color: $color;
        color: $white;
      }
    }
  }
  .title {
    color: $color;
    a {
      color: $color;
    }
  }
  .date {
    color: $color;
  }
  .bottom-nav {
    background-color: $color;
    a {
      background-color: $color;
    }
  }
  .next, .previous {
    background-color: $color;
    &:hover, &:focus {
      background-color: darken($color, 5%);
    }
  }
  .navy {
    a {
      color: $color;
    }
  }
  article {
    a {
      color: $color;
      &:hover, &:focus {
        border-bottom: 2px solid $color;
      }
      &.btn {
        &:hover {
          border-width: 1px;
        }
      }
    }
    blockquote {
      color: $color;
      border-left: 3px solid $color;
    }
  }
  .leaflet-bar {
    a {
      color: $white;
      &:hover {
        color: $color;
      }
    }
  }
  footer {
    a {
      &:hover, &:focus {
        color: $color;
        border-bottom: 2px solid $color;
      }
    }
  }
}

body {
  &.yellow  { @include body-class($yellow); }
  &.orange  { @include body-class($orange); }
  &.red     { @include body-class($red); }
  &.magenta { @include body-class($magenta); }
  &.violet  { @include body-class($violet); }
  &.blue    { @include body-class($blue); }
  &.cyan    { @include body-class($cyan); }
  &.green   { @include body-class($green); }
}

h1, h2, h3, h4, h5, h6, a {
  &.yellow  { color: $yellow; }
  &.orange  { color: $orange; }
  &.red     { color: $red; }
  &.magenta { color: $magenta; }
  &.violet  { color: $violet; }
  &.blue    { color: $blue; }
  &.cyan    { color: $cyan; }
  &.green   { color: $green; }
}