

  //   .btn {
  //     border-color: $color;
  //     color: $color;
  //     &:hover, &:focus {
  //       background-color: $color;
  //       color: $white;
  //     }
  //   }


  // article {
  //   a {
  //     color: $color;
  //     &:hover, &:focus {
  //       border-bottom: 2px solid $color;
  //     }
  //     &.btn {
  //       &:hover {
  //         border-width: 1px;
  //       }
  //     }
  //   }

  //   blockquote {
  //     color: $color;
  //     border-left: 3px solid $color;
  //   }

  //   a {
  //     color: $color;
  //     &:hover, &:focus {
  //       color: $color;
  //       border-bottom: 2px solid $color;
  //     }
  //   }

// h1, h2, h3, h4, h5, h6, a {
//   &.yellow  { color: $yellow; }
//   &.orange  { color: $orange; }
//   &.red     { color: $red; }
//   &.magenta { color: $magenta; }
//   &.violet  { color: $violet; }
//   &.blue    { color: $blue; }
//   &.cyan    { color: $cyan; }
//   &.green   { color: $green; }
// }

$spot-colors: (
  yellow: $yellow,
  orange: $orange,
  red: $red,
  magenta: $magenta,
  violet: $violet,
  blue: $blue,
  cyan: $cyan,
  green: $green
);

@each $name in map-keys($spot-colors) {
  $color: map-get($spot-colors, $name);
  .spot-#{$name} { color: $color; }
  .spot-bg-#{$name} { background-color: $color; }
  .spot-top-#{$name} { border-top: 8px solid $color; }

  .spot-link {
    color: $color;
    &:hover, &:focus {
      color: $color;
      border-bottom: 2px solid $color;
    }
  }
}

