/* - - - - - - - - - Basic Typography - - - - - - - */
@font-face {
    font-family: 'Facit';
    src: url('../fonts/facit-regular-webfont.woff2') format('woff2'),
         url('../fonts/facit-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/source-code-pro.woff2') format('woff2'),
         url('../fonts/source-code-pro.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('../fonts/karla-bold-webfont.woff2') format('woff2'),
         url('../fonts/karla-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('../fonts/karla-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/karla-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Karla';
    src: url('../fonts/karla-italic-webfont.woff2') format('woff2'),
         url('../fonts/karla-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Karla';
    src: url('../fonts/karla-regular-webfont.woff2') format('woff2'),
         url('../fonts/karla-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: $body-font;
  color: $body-color;
  font-weight: $body-weight;
  font-size: $body-size;
  line-height: $body-size * 1.5;
}

@media screen and (max-width: $tablet) {
  body {
    font-size: $body-size * .95;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  line-height: 1.25em;
  font-weight: $header-weight;
  font-size: $header-size;
  margin: 2em 0 1em 0;
  text-transform: none;
}

h1 { font-size: $header-size;}
h2 { font-size: $header-size * 0.9;}
h3 { font-size: $header-size * 0.85;}
h4 { font-size: $header-size * 0.8;}
h5 { font-size: $header-size * 0.75;}
h6 { font-size: $header-size * 0.7;}

h1 {
  line-height: 1.75;
}

blockquote {
  font-family: $header-font;
  text-align: left;
  font-size: 1.25em;
  line-height: 2em;
  padding: 0 2em;
}

p, address {
  line-height: 1.75em;
  margin: 1em 0;
}

a {
  text-decoration: none;
  color: $cyan;
}

ul {
  margin: 2em 0;
  li {
    font-size: 0.85em;
    line-height: 2em;
    margin-left: 1.5em;
  }
}

ol {
  padding-left: 2em;
  li {
    line-height: 1.75em;
    margin-bottom: .75em;
    margin-left: -1em;
  }
}

hr {
  margin: 2rem 0;
  border: none;
  border-top: 1px solid $lighter-gray;
}

small {
  font-size: $body-size * 0.75;
}
