@use "../config";

html {
    font-family: -apple-system, BlinkMacSystemFont, /* MacOS and iOS */
               'Segoe UI', /* Windows */
               'lucida grande', /* Older MacOS */
               'helvetica neue', helvetica, /* Older MacOS */
               'Fira Sans', /* Firefox OS */
               roboto, noto, /* Google stuff */
               'Droid Sans', /* Old Google stuff */
               cantarell, oxygen, ubuntu, /* Linux stuff */
               'franklin gothic medium', 'century gothic', /* Windows stuff */
               sans-serif; /* Everything else */ /* 1 */
    font-weight: 400;
    color: #333;
    line-height: 1.55;
    font-size: calc(1em + .25vw);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  padding: 0;
  margin-top: 3rem;
  margin-bottom: 1rem;
  line-height: 1.25;
}

h1 { font-size: config.$font-size-4; }
h2 { font-size: config.$font-size-3; }
h3 { font-size: config.$font-size-2; }
h4 { font-size: config.$font-size-1; }
h5 { font-size: config.$font-size-0; }
h6 { font-size: config.$font-size--1; }

strong {
  font-weight: 600;
}

hr {
  margin: 2rem 0;
  border: none;
  border-top: 1px solid config.$lighter-gray;
}

p {
  margin: .25rem 0 1.25rem 0;
}

ul, ol {
  margin: 2rem 0;
  padding-left: 2rem;
}

li {
  margin-bottom: .5rem;
}

address {
  font-style: normal;
}

a {
  color: config.$blue;
  text-decoration: none;
}

a:hover, a:focus {
  outline: none;
  text-decoration: underline;
}
