/* Next-Previous Links */
.bottom-nav {
  padding: 0;
  display: flex;
}

.bottom-nav-link {
  flex: 1 1 auto;
  width: 50%;
  box-sizing: border-box;
  color: $white;
  padding: 3em;
  background-repeat: no-repeat;
  transition: all 200ms linear;
  &:hover {
    background-color: rgba(0,0,0,.25);
  }
  &:focus {
    background-color: rgba(0,0,0,.25);
  }
}

.bottom-nav-next {
  float: right;
  background-image: url(../img/right-arrow.svg);
  background-position: 95% center;
  text-align: right;
}

.bottom-nav-prev {
  float: left;
  background-image: url(../img/left-arrow.svg);
  background-position: 5% center;
  background-repeat: no-repeat;
  text-align: left;
}

@media screen and (max-width: 560px) {
  .bottom-nav {
    flex-direction: column;
  }

  .bottom-nav-link {
    width: 100%;
    padding: 2em;
  }

  .bottom-nav-next {
    border-top: 1px solid rgba(0,0,0,0.2);
    margin-top: -1px;
    background-position: 98% center;
    padding-left: 0;
  }

  .bottom-nav-prev {
    background-position: 2% center;
    padding-right: 0;
  }
}