.browser {
  border: 1px solid $lighter-gray;
  border-radius: 4px;
  position: relative;
  padding-top: 2rem;
  display: inline-block;
  width: auto;
  background-color: $white;
  overflow: hidden;
}

.browser-image {
  max-width: 100%;
  height: auto;
  display: block;
}

.browser:before {
  content: "○ ○ ○";
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.25;
  text-indent: .5rem;
  width: 100%;
  position: absolute;
  top: 0;
  height: 2rem;
  border-bottom: 1px solid $lighter-gray;
  color: $lighter-gray;
}

.browser:after {
  content: attr(data-site);
  position: absolute;
  font-size: $font-size--2;
  font-family: $monospace;
  font-weight: 300;
  line-height: 3;
  color: $lighter-gray;
  left: 5rem;
  top: 0;
}