.browser {
  border: 1px solid $lighter-gray;
  border-radius: 4px;
  position: relative;
  padding-top: 2rem;
  display: inline-block;
  width: auto;
  background-color: $white;
  overflow: hidden;
}

.browser-image {
  max-width: 100%;
  height: auto;
  display: block;
}

.browser:before {
  content: "○ ○ ○";
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.25;
  text-indent: .5rem;
  width: 100%;
  position: absolute;
  top: 0;
  height: 2rem;
  border-bottom: 1px solid $lighter-gray;
  color: $lighter-gray;
}

.browser:after {
  content: attr(data-site);
  position: absolute;
  font-size: .85rem;
  font-family: $button-font;
  font-weight: 300;
  line-height: 2.3;
  color: $lighter-gray;
  left: 5rem;
  top: 0;
}

.browser-description {
  flex: 1 0 30%;
  max-width: 30em;
  margin-left: 2rem;
}

@media screen and (max-width: $tablet) {
  .browser-description {
    flex: auto;
    margin-left: 0;
  }
}