
.card-container {
  margin-left: -1rem;
  margin-right: -1rem;
  box-sizing: border-box;
}

.card {
  margin: 2rem 1rem;
  min-width: 16rem;
  max-width: 33%;
  position: relative;
}

.card img {
  width: 100%;
  transition: all 200ms linear;
}

.card:hover img {
  opacity: .3;
}