
.card-container {
  margin-left: -1rem;
  margin-right: -1rem;
  box-sizing: border-box;
}

.card {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  box-sizing: border-box;
  flex: 0 0 50%;
  position: relative;
  max-width: auto;
}

@media screen and (max-width: 540px) {
  .card {
    flex-basis: 100%;
  }
}

@media screen and (min-width: 960px) {
  .card {
    flex-basis: 33.33%;
  }
}

.card-max {
  max-width: 700px;
}