/* code styling */
code, kbd {
  font-family: $button-font;
  font-size: 0.85em;
  font-weight: 300;
  padding: .125em 0.35em;
  border-radius: 3px;
  position: relative;
  top: -0.05em;
  background: #F8F8F8;
  border: 1px solid #EFEFEF;
  font-size: 0.8em;
  margin: 0 4px;
}

/* Solarized Dark Theme */
pre {
  width: 100%;
  background-color: $base03;
  margin: 2em 0;
  color: $base1;
  code {
    box-sizing: border-box;
    display: block;
    padding: 1em;
    margin: 0;
    background-color: $base03;
    border: none;
    top: 0;
    width: 100%;
    line-height: 1.25;
    overflow: auto;
  }
}

.css, .js, .bash, .html, .yaml {
  background: $base03;
  color: $base0;
}

.hljs-comment,
.hljs-quote,
.hljs-tag {
  color: $base01;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-addition {
  color: $green;
}

.hljs-number,
.hljs-string,
.hljs-meta .hljs-meta-string,
.hljs-literal,
.hljs-doctag,
.hljs-regexp,
.hljs-selector-id {
  color: $cyan;
}

.hljs-title,
.hljs-section,
.hljs-name,
.hljs-selector-class {
  color: $blue;
}

.hljs-attribute,
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-class .hljs-title,
.hljs-type {
  color: $yellow;
}

.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-link {
  color: $orange;
}

.hljs-built_in,
.hljs-deletion {
  color: $red;
}

.hljs-formula {
  background: $base02;
}

.hljs-emphasis {
  color: $base1;
}

.hljs-strong {
  font-weight: bold;
}