@use "../config";

// Ayu light theme
$accent: #ff9940;
$bg: #fafafa;
$fg: #6c7680;
$ui: #959da6;
$tag: #55b4d4;
$func: #f2ae49;
$entity: #399ee6;
$string: #86b300;
$regexp: #4cbf99;
$markup: #f07171;
$keyword: #fa8d3e;
$special: #e6ba7e;
$comment: #abb0b6;
$constant: #a37acc;
$operator: #ed9366;
$error: #f51818;

$added: #99bf4d;
$modified: #709ecc;
$removed: #f27983;

code,
kbd {
  font-family: config.$monospace;
  font-weight: 400;
  padding: 0.25em 0.5em;
  border-radius: 3px;
  position: relative;
  top: -0.05em;
  background: $bg;
  box-shadow: config.$box-shadow;
  font-size: config.$font-size--2;
  margin: 0 4px;
}

pre {
  width: 100%;
  background-color: $bg;
  box-shadow: config.$box-shadow;
  margin: 2em 0;
  color: $fg;
  code {
    font-size: config.$font-size--2;
    box-sizing: border-box;
    display: block;
    padding: 1em;
    margin: 0;
    background-color: $bg;
    box-shadow: none;
    border: none;
    top: 0;
    width: 100%;
    line-height: 1.35;
    overflow: auto;
  }
}

.css,
.js,
.bash,
.html,
.yaml {
  color: $fg;
}

.hljs-comment,
.hljs-quote {
  color: $comment;
  font-style: italic;
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-attr,
.hljs-regexp,
.hljs-link,
.hljs-selector-id {
  color: $keyword;
}

.hljs-number,
.hljs-meta,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: $modified;
}

.hljs-string,
.hljs-bullet {
  color: $regexp;
}

.hljs-title,
.hljs-built_in,
.hljs-section,
.hljs-selector-class,
.hljs-selector-id {
  color: $constant;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-symbol {
  color: $keyword;
}

.hljs-name {
  color: $entity;
}

.hljs-tag {
  color: $modified;
}

.hljs-addition {
  color: $added;
}

.hljs-deletion {
  color: $removed;
}
