/* code styling */
code, kbd {
  font-family: $button-font;
  font-size: 0.85em;
  font-weight: 300;
  padding: .125em 0.35em;
  border-radius: 3px;
  position: relative;
  top: -0.05em;
  background: #F8F8F8;
  border: 1px solid #EFEFEF;
  font-size: 0.8em;
  margin: 0 4px;
}

/* Solarized Dark Theme */
pre {
  width: 100%;
  background-color: $base03;
  margin: 2em 0;
  color: $base1;
  code {
    box-sizing: border-box;
    display: block;
    padding: 1em;
    margin: 0;
    background-color: $base03;
    border: none;
    top: 0;
    width: 100%;
    line-height: 1.25;
    overflow: auto;
  }
}

.css .hljs-class {
  color: $yellow;
}

.css .hljs-tag {
  color: $cyan;
}

.css .hljs-attribute {
  color: $green;
}

.css .hljs-value {
  color: $violet;
}

.css .hljs-rule .hljs-keyword,
.css .hljs-tag {
  color: $green;
}

.bash {
  color: $base0;
}

.hljs-comment {
  color: $base01;
}

.hljs-keyword,
.hljs-method {
  color: $green;
}

.hljs-number,
.hljs-command,
.hljs-string,
.hljs-tag .hljs-value,
.hljs-hexcolor {
  color: $cyan;
}

.hljs-params {
  color: $base0;
}

.hljs-title,
.hljs-function .hljs-title, .hljs-decorator, .hljs-builtin, .hljs-built_in, .hljs-identifier, .hljs-title .hljs-keymethods, .hljs-id {
  color: $blue;
}

.hljs-attribute, .hljs-variable, .hljs-instancevar, .hljs-lisp .hljs-body, .hljs-smalltalk .hljs-number, .hljs-constant, .hljs-class .hljs-title, .hljs-parent, .hljs-haskell .hljs-label {
  color: $yellow;
}

.hljs-preprocessor, .hljs-pi, .hljs-shebang, .hljs-symbol, .hljs-diff .hljs-change, .hljs-special, .hljs-keymethods, .hljs-attr_selector, .hljs-important, .hljs-subst, .hljs-cdata {
  color: $orange;
}
