// Ayu light theme
$accent: #FF9940;
$bg: #FAFAFA;
$fg: #6C7680;
$ui: #959DA6;
$tag: #55B4D4;
$func: #F2AE49;
$entity: #399EE6;
$string: #86B300;
$regexp: #4CBF99;
$markup: #F07171;
$keyword: #FA8D3E;
$special: #E6BA7E;
$comment: #ABB0B6;
$constant: #A37ACC;
$operator: #ED9366;
$error: #F51818;

$added: #99BF4D;
$modified: #709ECC;
$removed: #F27983;

code, kbd {
  font-family: $monospace;
  font-weight: 400;
  padding: .25em 0.5em;
  border-radius: 3px;
  position: relative;
  top: -0.05em;
  background: $bg;
  box-shadow: $box-shadow;
  font-size: $font-size--2;
  margin: 0 4px;
}

pre {
  width: 100%;
  background-color: $bg;
  box-shadow: $box-shadow;
  margin: 2em 0;
  color: $fg;
  code {
    font-size: $font-size--2;
    box-sizing: border-box;
    display: block;
    padding: 1em;
    margin: 0;
    background-color: $bg;
    box-shadow: none;
    border: none;
    top: 0;
    width: 100%;
    line-height: 1.35;
    overflow: auto;
  }
}

.css, .js, .bash, .html, .yaml {
  color: $fg;
}

.hljs-comment,
.hljs-quote {
  color: $comment;
  font-style: italic;
}

.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-attr,
.hljs-regexp,
.hljs-link,
.hljs-selector-id {
  color: $keyword;
}

.hljs-number,
.hljs-meta,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: $modified;
}

.hljs-string,
.hljs-bullet {
  color: $regexp;
}

.hljs-title,
.hljs-built_in,
.hljs-section,
.hljs-selector-class,
.hljs-selector-id {
  color: $constant;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-symbol {
  color: $keyword;
}

.hljs-name {
  color: $entity;
}

.hljs-tag {
  color: $modified;
}

.hljs-addition {
  color: $added;
}

.hljs-deletion {
  color: $removed;
}
