.footer-icon {
  display: inline-block;
  color: $light-gray;
  width: 16px;
  height: 16px;
  margin-right: 1em;
  opacity: 0.8;
  border-bottom: none;
  transition: 150ms opacity linear;
  svg {
    width: 16px;
    height: 16px;
  }
  &:hover, &:focus {
    opacity: 1;
    border: none;
  }
}

.footer-link {
  transition: 150ms border-color linear;
  border-bottom: 2px solid transparent;
}