/* Title Banner */
.hero {
  width: 100%;
  display: block;
  background-color: transparent;
  background-repeat:no-repeat;
  background-position:center;
  position:relative;
  background-size: cover;
}

.hero-mesh:before {
  content: '';
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  display: block;
  background-image: url(../img/navy-mesh.gif);
  background-color: transparent;
  background-repeat: repeat;
  background-position:top left;
}

.hero-tan {
  background-color: $tan;
  &.hero-mesh:before {
    background-image: url(../img/tan-mesh.gif);
  }
}

.hero-navy {
  background-color: $navy;
  color: $lighter-gray;
}

.hero-fullscreen {
  min-height: 80vh;
}

.title-wrap {
  position: relative;
  display: block;
  z-index: 2;
  box-sizing: border-box;
  padding: 8em 1em 4em 1em;
}

.date {
  text-align:center;
  padding-bottom: 3em;
  display: block;
}

.feature-image {
  box-sizing: border-box;
  width: 90%;
  height: auto;
  max-width: 40em;
  display: block;
  position: relative;
  z-index: 3;
  margin: 0 auto;
  padding: 6em 1em 4em 1em;
}

.hero-map {
  height: 60vh;
}
