@use "../config";

// Styling raw elements here, as it is hard to add classes in markdown
.article {
  padding-bottom: 4rem;
  img {
    max-width: calc(100% + 8vw);
    margin: 1em 0 0 -4vw;
    padding-top: 1em;
    display: block;
    height: auto;
    position: relative;
    &.skinny {
      margin-left: 0;
      max-width: 100%;
    }
  }
  .browser {
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: -4vw;
    width: 110.8%;
    max-width: 100vw;
    box-sizing: border-box;
  }
  .browser-image {
    margin: 0;
    max-width: 100%;
    position: static;
  }
  pre {
    margin-left: -4vw;
    width: calc(100% + 8vw);
    padding-left: 4vw;
    max-width: 100vw;
    box-sizing: border-box;
    code {
      padding: 1.5rem 1.5rem 1.5rem 0;
    }
  }
  .caption {
    font-size: 0.75em;
    color: config.$light-gray;
    line-height: 1.25em;
    margin: 0.5em 0 2em -4vw;
    padding-left: 1em;
    border-left: 2px solid config.$light-gray;
    font-style: italic;
  }
  blockquote {
    max-width: 24em;
    margin: 2em 0 2em -4vw;
    color: config.$blue;
    border-left: 2px solid config.$blue;
    padding-left: 4vw;
    font-size: config.$font-size-1;
    line-height: 1.25;
  }
  .full-width {
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: -4vw;
    width: 110.8%;
    max-width: 100vw;
    box-sizing: border-box;
  }
  a {
    border-bottom: 2px solid transparent;
    transition: 150ms border-color linear;
  }
}

.video-wrap {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  iframe,
  object,
  embed,
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.photo-grid {
  box-sizing: border-box;
  width: 100vw;
  margin-left: calc((100vw - 45rem) / -2);
  display: flex;
  justify-content: space-evenly;
  align-items: end;
  padding-right: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  img {
    object-fit: contain;
    min-width: 0;
    margin-left: 1rem;
    padding: 0;
    flex: 2 2 0;
  }
  .landscape {
    flex: 3 3 0;
  }
  .landscape-wide {
    flex: 4.45 4.45 0;
  }
}

@media screen and (max-width: 960px) {
  .photo-grid {
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100%;
    img {
      max-height: 80vh;
      max-width: 80vw;
      margin-top: 2rem;
    }
  }
}
