// Styling raw elements here, as it is hard to add classes in markdown
.article {
  img {
    max-width: calc(100% + 8vw);
    margin: 1em 0 0 -4vw;
    padding-top: 1em;
    display: block;
    height: auto;
    position: relative;
    &.skinny {
      margin-left: 0;
      max-width: 100%;
    }
  }
  .browser {
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: -4vw;
    width: 110.8%;
    max-width: 100vw;
    box-sizing: border-box;
  }
  .browser-image {
    margin: 0;
    max-width: 100%;
    position: static;
  }
  pre {
      margin-left: -4vw;
      width: calc(100% + 8vw);
      padding-left: 4vw;
      max-width: 100vw;
      box-sizing: border-box;
    code {
      padding: 1.5rem 1.5rem 1.5rem 0;
    }
  }
  .caption {
    font-size: 0.75em;
    color: $light-gray;
    line-height: 1.25em;
    margin: .5em 0 2em -4vw;
    padding-left: 1em;
    border-left: 2px solid $light-gray;
    font-style: italic;
  }
  blockquote {
    max-width: 20em;
    margin: 2em 0 2em -4vw;
    color: $blue;
    border-left: 2px solid $blue;
    padding-left: 4vw;
    font-size: $font-size-1;
    line-height: 1.25;
  }
  .full-width {
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: -4vw;
    width: 110.8%;
    max-width: 100vw;
    box-sizing: border-box;
  }
  a {
    border-bottom: 2px solid transparent;
    transition: 150ms border-color linear;
  }
}

.video-wrap {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  iframe, object, embed, video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
