.panel {
  width: 100%;
  padding: 2em 0;
  background-color: $white;
}

.panel-transparent {
  background-color: transparent;
}

.panel-white {
  background-color: $white;
}

.panel-tan {
  background-color: $base03;
  color: $gray;
}

.panel-navy {
  background-color: $navy;
  color: $light-gray;
}