.project-text {
  padding: 2rem 8rem 2rem 2rem;
  margin-top: 3rem;
  margin-right: -7rem;
  transition: all 200ms ease-out;
  transform: translate3d(0, 0, 0);
}

.project:hover .project-text {
  transform: translate3d(-2vw, 0, 0);
}

.project .browser {
  transition: all 200ms ease-out;
  transform: scale(1);
  box-shadow: 0 0 24px rgba(0,0,0,.05);
}

.project:hover .browser {
  transform: scale(1.025);
}

.lab-roll-text {
  margin-top: 4rem;
  padding: 2rem 1rem 1rem 1rem;
  transform: translate3d(-8vw, 0, 0) scale(1);
  transition: all 150ms ease-out;
}

.lab-roll:hover .lab-roll-text {
  transform: translate3d(-8vw, 0, 0) scale(1.025);
}