@use "../config";

.snippet {
  flex: 1 1 auto;
  padding-right: 4rem;
  width: 600px;
  box-sizing: border-box;
  h3 {
    font-size: config.$font-size--1;
    font-weight: 500;
    margin-top: 1.75rem;
  }
  pre {
    border-radius: 3px;
    margin-top: 0;
  }
  code {
    font-size: config.$font-size--2;
    background-color: white;
  }
}

@media screen and (max-width: 1300px) {
  .snippet {
    padding-right: 0;
  }
}

.snippet-container {
  display: flex;
  flex-wrap: wrap;
}
