$spot-colors: (
  'yellow': $yellow,
  'orange': $orange,
  'red': $red,
  'magenta': $magenta,
  'violet': $violet,
  'blue': $blue,
  'cyan': $cyan,
  'green': $green
);

@each $name in map-keys($spot-colors) {
  $color: map-get($spot-colors, $name);
  .spot-#{$name} { color: $color; }
  .spot-bg-#{$name} { background-color: $color; }
  .spot-top-#{$name} { border-top: 8px solid $color; }

  .spot-link-#{$name}, .article-#{$name} a {
    color: $color;
    &:hover, &:focus {
      color: $color;
      border-bottom: 2px solid $color;
    }
  }

  .btn-#{$name} {
    border: 1px solid $color;
    color: $color;
    &:hover {
      background-color: $color;
    }
  }

  // Article Styles
  .article-#{$name} {
    h1, h2, h3, h4, h5, h6 {
      color: $color;
    }
    blockquote {
      color: $color;
      border-left: 3px solid $color;
    }
  }
}
