@use "../config";

.overflow-auto {
  overflow: auto;
}

table {
  width: 100%;
  margin-bottom: 2em;
  font-size: 0.875rem;
  background-color: config.$white;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid config.$lighter-gray;
  text-align: left;

  > thead {
    background-color: config.$lightest-gray;
    border-bottom: 1px solid config.$lighter-gray;
  }

  th,
  td {
    border-left: 1px solid config.$lighter-gray;
    border-right: 1px solid config.$lighter-gray;
    padding: 12px;
  }

  p {
    margin-bottom: 0;
  }

  tr {
    border-bottom: 1px solid config.$lighter-gray;
    text-align: left;
    &:last-child {
      border-bottom: none;
    }
  }

  thead,
  tfoot,
  tr.divider {
    font-size: 0.925rem;
    font-weight: bold;
  }
}
