.time {
  width: 7rem;
}

.time-month, .time-year {
  display: block;
  font-size: .875rem;
  line-height: 1rem;
}

.time-day {
  display: block;
  font-size: 5.25rem;
  line-height: .85;
  margin: 0;
}
