// Top Navigation
.nav {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 4;
  pointer-events: none;
}

.nav-link {
  pointer-events: auto;
  text-decoration: none;
  padding: 0.25em 0;
  transition: 150ms border-color linear;
  border-bottom: 2px solid transparent;
}

@media screen and (max-width: $phone-wide) {
  .nav-link {
    padding: .25em 0;
    font-size: .9em;
  }
}
