
.nav {
  position: absolute;
  top: 0;
  z-index: 3;
}

.logo svg {
  stroke: #666;
  transition: all 100ms linear;
}

.logo:hover svg, .logo:focus svg {
  stroke: #333;
}

.nav-link {
  color: #666;
  line-height: 40px;
  font-size: $font-size-0;
  transition: color 100ms linear;
}

.nav-link.is-active,
.nav-link:hover,
.nav-link:focus {
  color: #222;
}

.dark .nav-link {
  color: #ccc;
}

.dark .nav-link.is-active,
.dark .nav-link:hover,
.dark .nav-link:focus {
  color: #fff;
}

.dark .logo svg {
  stroke: #ccc;
}