.work-items {
  background: $blue;
}

.work-item {
  display: inline-block;
  background-color: transparent;
  color: $white;
  padding: 30vh 3rem 3rem;
  transition: all 150ms linear;
  position: relative;
  background-size: cover;
  background-position: center;
}

.work-item-text {
  position: relative;
  z-index: 2;
}

.work-item:hover .work-item-text {
  opacity: 1;
}

.work-item:before {
  content: "";
  background-color: $base03;
  opacity: .7;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 200ms linear;
}

.work-item:hover:before {
  opacity: .4;
}

.work-item-sound-finder {
  background-image: url('../img/sound-finder.svg');
}

.work-item-sound-finder:before {

}

.work-item-donut-js {
  background-image: url('../img/donut-thumb.svg');
}

.work-item-donut-js:before {

}
.work-item-clacite-web {
  background-image: url('../img/calcite-web.svg');
}

.work-item-clacite-web:before {

}
.work-item-pdx-roasters {
  background-image: url('../img/pdx-thumb.svg');
}

.work-item-pdx-roasters:before {

}