.work-items {
  background: $blue;
  flex-wrap: wrap;
}

.work-item {
  display: block;
  background-color: transparent;
  color: $white;
  padding: 30vh 3rem 3rem;
  transition: all 150ms linear;
  position: relative;
  background-size: cover;
  background-position: center;
  min-width: 50%;
  box-sizing: border-box;
}

.work-item-text {
  position: relative;
  z-index: 2;
}

.work-item:hover .work-item-text {
  opacity: 1;
}

.work-item:before {
  content: "";
  background-color: $base03;
  opacity: .7;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity 200ms linear;
}

.work-item:hover:before {
  opacity: .4;
}