.btn {
  display: inline-block;
  padding: 1em;
  background-color: transparent;
  color: $white;
  @include border-radius(3px);
  border: 1px solid $dark-gray;
  text-decoration: none;
  font-family: $button-font;
  font-size: 0.75em;
  cursor: pointer;
  @include transition(background-color 75ms linear, color 75ms linear);
  &:hover {
    background-color: $dark-gray;
    color: $white;
  }
  &.cyan {
    border: 1px solid $cyan;
    color: $cyan;
    &:hover {
      background-color: $cyan;
      color: $white;
    }
  }
  &.white {
    border: 1px solid $white;
    color: $white;
    &:hover {
      background-color: $white;
      color: $cyan;
    }
  }
}