// Mini Inline-Block Grid
.col {
  display: block;
  float: left;
  position: relative;
  @include box-sizing(border-box);
}

.col1of1 { float: none; }
.col1of2 { width: 50%; }
.col1of3 { width: 33.33333%; }
.col2of3 { width: 66.66666%; }
.col1of4 { width: 25%; }
.col3of4 { width: 75%; }
.col1of5 { width: 20%; }
.col2of5 { width: 40%; }
.col3of5 { width: 60%; }
.col4of5 { width: 80%; }

.col-group {
  font-family: 'Courier New', Monospace;
  letter-spacing: -.65em;
  margin-left: -1em;
  margin-right: -1em;
  text-align: left;
  .col {
    display: inline-block;
    float: none;
    font-family: $body-font;
    letter-spacing: normal;
    padding-left: 1em;
    padding-right: 1em;
    position: relative;
    text-align: left;
    vertical-align: top;
  }
  &.no-padding {
    margin-left: 0;
    margin-right: 0;
    .col {
      padding-left: 0;
      padding-right: 0;
    }
  }
  &.table {
    dispay: table;
    .table-cell {
      display: table-cell;
      vertical-align: middle;
    }
  }
}
