// Nav
.nav {
  display: block;
  position: absolute;
  top:0;
  right: 0;
  left: 0;
  z-index: 4;
  pointer-events: none;
  a {
    pointer-events: auto;
    text-decoration: none;
    padding: 0.25em 0;
    @include transition(150ms border-color linear);
    border-bottom: 2px solid transparent;
  }
  span {
    padding: 0.25em 0.5em;
    line-height: 1em;
  }
  .hide-mobile {
    @include respond-to(0, 400px){
      display: none;
    }
  }
}

.map .panel.nav {
  @include respond-to(481px){
    a {
      color: $white;
    }
    span {
      color: $white;
    }
  }
  @include respond-to(0, 480px){
    background-color: $navy;
  }
}

// Footer
footer {
  a {
    @include transition(150ms border-color linear);
    border-bottom: 2px solid transparent;
  }
  section.footer-social {
    margin: 0 0 1em 0;
    a {
      margin-right: 1em;
    }
    .icon-twitter {
      display: inline-block;
      color: $light-gray;
      width: 16px;
      height: 16px;
      background:url('../img/twitter.svg') center center no-repeat  transparent;
      background-size: 16px;
      opacity: 0.8;
      border-bottom: none;
      @include transition(150ms opacity linear);
      &:hover {
        opacity: 1;
        border: none;
      }
    }

    .icon-github {
      @extend .icon-twitter;
      background-image: url('../img/github.svg');
    }

    .icon-dribbble {
      @extend .icon-twitter;
      background-image: url('../img/dribbble.svg');
    }

    .icon-google {
      @extend .icon-twitter;
      background-image: url('../img/google-plus.svg');
    }
  }
}


// Reusable Layout Classes
.panel {
  width: 100%;
  padding: 2em 0;
  background-color: $white;
  &.transparent {
    background-color: transparent;
  }
  &.white {
    background-color: $white;
    color: $gray;
  }
  &.tan {
    background-color: $base03;
    color: $gray;
  }
  &.navy {
    background-color: $navy;
    color: $light-gray;
  }
}

.constrain {
  width: 80%;
  max-width: 45em;
  padding: 0 10%;
  margin: 0 auto;
  .full-width {
    width: 100vw;
    height: auto;
  }
}

.feature {
  margin-top: -3em;
}

.right {
  float: right;
}

.left {
  float: left;
}
