@mixin retina-display {
  @media screen and (-webkit-min-device-pixel-ratio : 1.5), screen and (min-device-pixel-ratio : 1.5) {
    @content;
  }
}

@mixin respond-to($min-width, $max-width: false) {
  @if $min-width and $max-width {
    @media only screen and (min-width : $min-width) and (max-width : $max-width) {
      @content;
    }
  } @else {
    @media only screen and (min-width : $min-width) {
      @content;
    }
  }
}

@mixin full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.full {
  @include full;
}

@mixin clearfix(){
  &:before,
  &:after {
    content:"";
    display:table;
  }
  &:after {
    clear:both;
  }
}

.clearfix {
  @include clearfix();
}

@mixin body-class($color){
  border-top: 8px solid $color;
  nav {
    span {
      color: $color;
    }
    a {
      color: $color;
      &:hover, &:focus {
        color: $color;
        border-bottom: 2px solid $color;
      }
    }
  }
  .title-wrap {
    .btn {
      border-color: $color;
      color: $color;
      &:hover, &:focus {
        background-color: $color;
        color: $white;
      }
    }
  }
  .title {
    color: $color;
    a {
      color: $color;
    }
  }
  .date {
    color: $color;
  }
  .bottom-nav {
    background-color: $color;
    a {
      background-color: $color;
    }
  }
  .next, .previous {
    background-color: $color;
    &:hover, &:focus {
      background-color: darken($color, 5%);
    }
  }
  .navy {
    a {
      color: $color;
    }
  }
  article {
    a {
      color: $color;
      &:hover, &:focus {
        border-bottom: 2px solid $color;
      }
      &.btn {
        &:hover {
          border-width: 1px;
        }
      }
    }
    blockquote {
      color: $color;
      border-left: 3px solid $color;
    }
  }
  .leaflet-bar {
    a {
      color: $white;
      &:hover {
        color: $color;
      }
    }
  }
  footer {
    a {
      &:hover, &:focus {
        color: $color;
        border-bottom: 2px solid $color;
      }
    }
  }
}
