---
title: Archive
template: _templates/layout.html
description: Archive of Blog Articles Written by Paul C Pederson
spot: cyan
block: page
collections:
  articles: /articles/*
---

<section class="hero hero-navy hero-mesh">
  <div class="title-wrap constrain">
    <h1 class="text-center spot-{{spot}}">Archive</h1>
  </div>
</section>

<div class="panel panel-white">
  <section class="constrain">
    {% for year in collections.articles|groupBy('year') %}
      <div class="block-grid leader-2 trailer-2 margin-left-0 margin-right-0">
        <div class="column-2">
          <p>{{loop.key}}</p>
        </div>
        <div class="column-10">
          <div class="block-grid">
            {% for article in year|reverse %}
              <div class="trailer-2 column-6 medium-column-12">
                <p class="trailer-0">
                  <a href="{{article.url}}">{{article.title}}</a>
                </p>
                <p class="small">
                  <time datetime="{{article.date|date('Y-m-d')}}">{{article.date|date('n.d.Y')}}</time>
                </p>
                <p class="text-size--1 text-narrow">{{article.description}}</p>
              </div>
            {% endfor %}
          </div>
        </div>
    {% endfor %}
  </section>
</div>