---
title: Home
description: I'm a web designer and developer living in Portland, OR. I write about art, maps, design, and the internet.
template: _templates/layout.html
block: page
changefreq: daily
spot: violet
collections:
  articles: /articles/*
  work: /work/*
---

<!-- banner -->
<section class="constrain-wide padding-leader-1 leader-3 trailer-4">
  <h1>Paul C Pederson &mdash; Digital product designer and front-end developer.</h1>
</section>

<!-- projects -->
<div class="constrain-wide bg-white padding-leader-1">
  <h2 class="trailer-0">
    <a href="/work/" class="link-plain">Work</a>
  </h2>
  <div class="flex card-container align-top">
  {% for project in collections.work %}
  {% if loop.index < 4 %}
  <a href="{{project.url}}" class="flex-1 link-plain card trailer-2">
    <img src="/img/{{project.thumbnail}}" alt="{{project.title}}">
    <h3 class="leader-1">{{project.title}}</h3>
    <p class="font-size--1 trailer-0">{{project.description}}</p>
  </a>
  {% endif %}
  {% endfor %}
  </div>
</div>

<!-- blog roll -->
<div class="constrain-wide bg-white">
  <h2><a href="/articles/" class="link-plain">Articles</a></h2>
  {% for article in collections.articles %}
  {% if loop.index < 4 %}
  <div class="flex leader-2 constrain">
    <time datetime="{{article.date|date('Y-m-d')}}">
      <span class="time-month">{{article.date|date('F')}}</span>
      <span class="time-day">{{article.date|date('d')}}</span>
      <span class="time-year">{{article.date|date('Y')}}</span>
    </time>
    <div class="margin-left-1 flex-1">
      <h3 class="leader-0 trailer-0"><a href="{{article.url}}">{{article.title}}</a></h3>
      <p class="font-size--1 leader-0">{{article.description}}</p>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>