---
title: Home
description: I'm a web designer and developer living in Portland, OR. I write about art, maps, design, and the internet.
template: _templates/layout.html
block: page
changefreq: daily
spot: blue
collections:
  articles: /articles/*
---

<!-- banner -->
<section class="hero hero-navy hero-mesh hero-fullscreen">
  <div class="title-wrap constrain padding-leader-6 padding-trailer-2 padding-left-0 padding-right-0">
    <h1>Hi. I'm Paul.</h1>
    <p class="text-size--1 text-narrow text-left leader-1 trailer-1 margin-left-0 margin-right-0">
      I design and develop digital experiences. As a developer, I'm mainly on the front end. CSS, Sass, JS, HTML, and Markdown are all languages I use every day. The chart below summarizes time spent by file extension over the past year.
    </p>
    <ul class="trailer-0">
      <li class="chart-swatch chart-swatch-blue">CSS + Sass</li>
      <li class="chart-swatch chart-swatch-cyan">JavaScript</li>
      <li class="chart-swatch chart-swatch-violet">Markdown</li>
      <li class="chart-swatch chart-swatch-magenta">HTML</li>
    </ul>
  </div>
  <div class="chart-banner">
    {% include "./img/charts/fileType.svg" %}
  </div>
</section>

<!-- projects -->

<div class="panel panel-navy padding-trailer-0">

  <h1 class="margin-left-4 spot-blue">Work <a href="/work/" class="right btn btn-blue margin-right-4">View All »</a></h1>
  <div class="flex phone-flex-column work-items">
    <a href="http://soundfinder.io" class="flex-1 work-item work-item-sound-finder">
      <h4 class="work-item-text leader-0 trailer-0">Soundfinder.io</h4>
    </a>
    <a href="http://donutjs.club/" class="flex-1 work-item work-item-donut-js">
      <h4 class="work-item-text leader-0 trailer-0">Donut.js</h4>
    </a>
  </div>
  <div class="flex phone-flex-column work-items">
    <a href="http://esri.github.io/calcite-web/" class="flex-1 work-item work-item-clacite-web">
      <h4 class="work-item-text leader-0 trailer-0">Calcite Web</h4>
    </a>
    <a href="http://www.pdxroasters.com/" class="flex-1 work-item work-item-pdx-roasters">
      <h4 class="work-item-text leader-0 trailer-0">PDX Roasters</h4>
    </a>
  </div>
</div>

<!-- blog roll -->
<div class="panel panel-white">
  <div class="constrain">
    <h1 class="spot-blue">Latest Articles <a href="/articles/" class="right btn btn-blue">View All »</a></h1>
    {% for article in collections.articles %}
    {% if loop.index < 4 %}
      <div class="col-group l-relative leader-3 trailer-3">
        <a style="background-image: url(/img/{{article.thumbnail}})" href="{{article.url}}" class="blog-roll-thumbnail"></a>
        <div class="col2of5 col blog-roll-text">
          <h2 class="leader-1 trailer-1">
            <a href="{{article.url}}" class="spot-link-{{article.spot}}">{{article.title}}</a>
          </h2>
          <time class="text-size--2 text-subtle" datetime="{{article.date|date('Y-m-d')}}">{{article.date|date('n.j.Y')}}</time>
          <p class="text-size--2">{{article.description}}</p>
          <a href="{{article.url}}" class="spot-link-{{article.spot}} text-size--2">Read More »</a>
        </div>
      </div>
    {% endif %}
    {% endfor %}
  </div>
</div>

<!-- next-prev links for articles -->
<div class="spot-bg-{{spot}}">
  <nav class="bottom-nav constrain clearfix">
    <a href="/archive/" class="bottom-nav-link bottom-nav-prev">
      <span class="l-block text-size--2">view all articles:</span>
      <span class="l-block leader-1">Archive</span>
    </a>
    <a href="{{collections.articles[0].url}}" class="bottom-nav-link bottom-nav-next">
      <span class="l-block text-size--2">most recent article:</span>
      <span class="l-block leader-1">{{collections.articles[0].title}}</span>
    </a>
  </nav>
</div>