@import 'config';

.hero {
  position: fixed;
  display: table;
  height: 100vh;
  width: 100vw;
}

.title-wrap.constrain {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.four-zero-four {
  padding: 35vh 0;
  text-align: center;
  margin: 0;
  letter-spacing: .25em;
  font-size: 4rem;
}

footer {
  display: none;
}
