// Homepage Hero
.hero {
  &.homepage {
    min-height: 50vh;
    .title-wrap{
      padding: 6em 0 5em 0;
    }
    .title {
      text-align: left;
      margin: 0;
    }
    .description {
      text-align: left;
      margin: 1em 0;
    }
  }
}

// Homepage Thumbnails
.blog-roll {
  position: relative;
  margin: 3em 0;
  h2 {
    margin: 1em 0;
  }
  p {
    font-size: 0.75em;
  }
  .text {
    margin-left: 55%;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}
.thumbnail {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  background-size: cover;
  background-position: center;
  @include transition(all 200ms linear);
  &:hover {
    @include box-shadow(0 0 20px rgba(0,0,0,0.05));
  }
}