.map-div {
  display: block;
  background: $light-gray;
  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    z-index: 2;
    pointer-events: none;
    @include box-shadow(inset 0 100px 200px rgba(0, 0, 0, 0.2), inset 0 0 200px rgba(0, 0, 0, 0.7));
  }
  .leaflet-bar {
    @include box-shadow(none);
    @include border-radius(3px);
    a {
      @include transition(100ms all linear);
      font-family: $button-font;
      width: 26px;
      height: 26px;
      line-height: 26px;
      display: block;
      text-align: center;
      text-decoration: none;
      border: 1px solid $white;
      background: transparent;
      &:hover {
        background: $white;
      }
      &:last-child {
        margin-top: -1px;
        border-bottom: 1px solid $white;
      }
    }
  }
}

.hero-map {
  height: 100%;
  height: 70vh;
  @include respond-to(0, 480px){
    display:none;
  }
  .leaflet-top {
    top: 50%;
    margin-top: -50px;
  }
}

.map {
  .title-wrap {
    @include respond-to(0, 480px){
      padding-top: 6em;
    }
  }
}

.back-to {
  color: $white;
  position: absolute;
  bottom: 1em;
  left: 2em;
  z-index:3;
  font-size: 1em;
  &:before {
    content: "";
    display: inline-block;
    background: url(../img/left-arrow.svg) no-repeat center right transparent;
    background-size: 16px;
    width: 16px;
    height: 16px;
    vertical-align: -3px;
    position: absolute;
    top: 0;
    left: -20px;
    @include transition(150ms left linear);
  }
  &:hover {
    &:before {
      left: -24px;
    }
  }
}