body{
  position: relative;
}

#map {
  display: block;
  height: 90vh;
  background: $light-gray;
}

#article {
  margin-top: 0;
  padding-top: 0;
  .title {
    margin-top: 0;
    padding-top: 0.75em;
  }
}